[2016-11-15 16:47] shahen94 opened #3 "VideoPlayer"
VideoPlayer is not working, or how to set currentTime, or pause ?

[2016-11-15 19:10] #3 closed

[2016-11-16 10:50] shahen94 opened #6 "Previews for Filters"
Get Filtered image frames for Preview

[2016-11-16 10:50] shahen94 opened #7 "Trimmer Component"
Add New Component for Trimming

[2016-11-16 12:06] #7 closed

[2016-11-16 13:22] shahen94 opened #9 "Volume Controll"
User should be able to controll video movie volume

[2016-11-16 13:34] #9 closed

[2016-11-16 19:22] shahen94 opened #12 "Save Video"
We should be able to trim and save video

[2016-11-17 17:34] #12 closed

[2016-11-21 03:53] kjetilge opened #14 "can't find the project_name-bridging-header.h file"
Where is the file project_name-bridging-header.h supposed to be located ?

I tried searching for bridging-header.h on my mac with but found no file with my project name as prefix.

Is it possible to use this module with [React Desktop](http://reactdesktop.js.org/docs/) ?

[2016-11-21 06:35] gevorg94 commented on #14
@kjetilge you can see there how to create the bridging header for your project.
http://www.learnswiftonline.com/getting-started/adding-swift-bridging-header/

[2016-11-23 08:11] #14 closed

[2016-11-25 07:55] shahen94 opened #15 "[VideoPlayer] Didn't show video"
Sometime VideoPlayer didn't show video

[2016-11-25 10:41] #15 closed

[2016-11-29 10:46] shahen94 opened #16 "[VideoPlayer]: Replay"
Video didn't replays after re-setting source

[2016-11-29 11:48] #16 closed

[2016-12-14 23:41] denny64 opened #20 "HELP: Native Module not found"
I've created the bridging header + imported the correct files/folder to the "top level", still not working

[2016-12-15 11:58] gevorg94 commented on #20
did you imported it like #import "RNVideoProcessing.h"? make sure you have imported all frameworks that are listed in README file, also add GPUImage.framework to your project's Embedded Binaries section

[2016-12-15 23:09] denny64 commented on #20
@gevorg94 Yes I've imported everything correctly, but it still cannot find the Native Modules :( - is there any example project I can see? Also, do you have any screenshots of what it should look like?

[2016-12-16 07:14] gevorg94 commented on #20
@denny64 please check your project's Build Phases section, there will be .swift and .m files of RNVideoProcessing project. It should look like this
![screen shot 2016-12-16 at 11 02 36 am](https://cloud.githubusercontent.com/assets/13519034/21254620/eae40320-c37f-11e6-9ca0-763be50e786d.png)

if these files are not included in Build Phases then you need to add them manually.

![screen shot 2016-12-

[2016-12-18 08:48] shahen94 commented on #20
@denny64  React native can't  link automatically, since library written on Swift.
You should add files into your project manually. I hope that @gevorg94's answer helped you.

I'm going to close this issue. Feel free to reopen it if your issue isn't solved yet.

[2016-12-18 08:49] #20 closed

[2017-01-19 01:23] supei328 opened #21 "android time line"
i'm good at android .the ios code is very strong. and i want to know how the android platfrom support

[2017-01-19 08:02] shahen94 commented on #21
@supei328 currently we haven't android version for this app, because android is a little bit complicated.
We're looking for someone who will be good at android and can contribute.

[2017-01-20 12:57] #21 closed

[2017-01-30 12:24] goldylucks opened #23 "suggestions (PRs will follow if accepted)"
1. remove constructor calls completely
2. use default for exporting components
3. consistency
4. [react/sort-comp](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md)
5. advanced reconstructing
6. perf:  VideoPlayer

### NOTE:
disregard indentation in my examples, PRs will b sent in current linting rules of course

lemme know what u think of these suggestions! :)

[2017-01-30 13:25] shahen94 commented on #23
@goldylucks good idea, really i like your suggestions.  PR's are welcome, just please commit your changes using `npm run commit`
https://github.com/shahen94/react-native-video-processing#contributing

[2017-01-30 16:47] goldylucks commented on #23
sure man, got that the first time ;)

so do u agree with all 5 points?
I'm happy to help, making sure I'm not preparing PRs for nothing

[2017-01-30 16:54] shahen94 commented on #23
@goldylucks yep, let's do that

[2017-02-03 23:38] barbaragomes opened #25 "Failed to import GPUImage.h"
Hey There,

I have followed all the steps described on README.md but I can not figure out why this error is happening

[code]

Any Suggestions?

Also, is it compatible with Swift 3? Or do I have to make the changes to RNProcessingVideo files manually in order to be compatible with Swift3?

[2017-02-06 12:55] gevorg94 commented on #25
yes it's compatible with Swift 3.
there are some answers with troubleshooting here https://github.com/shahen94/react-native-video-processing/issues/20 .
if it doesn't help you please let me know. I will try to find a solution

[2017-02-08 00:15] barbaragomes commented on #25
I saw the issues #20 before posting the question here. At first, it could not find RNVideoProcessing.h . After I added all the files manually it was able to find the RNVideoProcessing.h but it can not find the GPUImage.h.

BTW I'm using react 0.35.0 and iOS 10

![screen shot 2017-02-07 at 4 13 31 pm](https://cloud.githubusercontent.com/assets/13023284/22717526/64bda6a2-ed50-11e6-8cee-e58f660c0a1a.

[2017-02-08 01:12] barbaragomes commented on #25
So, I manage to work around it.

I removed the ```#import 'GPUImage.h'``` and added manually to all the Swift files that uses it ```import GPUImage```

I also had to handle some React issues, like replacing RTCView by UIView in the Swift files.

I'm able to at least get the modules to work, but I still see an exception:

[code]

Any thoughts?

Thank you

[2017-02-08 02:26] barbaragomes commented on #25
I was able to figure stuff out.

I forgot to add ```#import "RCTView.h"``` to my project react bridge.
Once I imported it, I was able to switch back to RTCView instead of UIView and the exception is gone.

I still had to import manually the GPUImage in each file that uses it and remove it from ```RNVideoProcessing.h```. Not sure why tough.

[2017-02-09 04:33] flybayer commented on #25
I'm really looking forward to trying this project, but I've spent a couple hours trying to get it working to no avail. 😢

1. First, I followed the readme instructions.

2. Then, I had to follow the instructions in #20 to get this library to start compiling.

3. Then I had to go through and add `React/` in front of the RCT header file include statements because it seems this hasn't been updated for

[2017-02-09 16:58] gevorg94 commented on #25
Folks i've added an example to README how to setup library
Check out [this video](https://youtu.be/HRjgeT6NQJM) video, and let me know if your issue isn't solved yet.
Also i want you to know that currently we're not supporting RN 0.4x. We'll push the updates tomorrow to support rn 0.4x

[2017-02-09 18:06] shahen94 commented on #6
I'll skip this for now

[2017-02-09 18:06] shahen94 commented on #6
I'll skip this for now

[2017-02-09 18:06] #6 closed

[2017-02-09 18:22] shahen94 commented on #25
I'm going to close this issue, be free to reopen ths

[2017-02-09 18:22] #25 closed

[2017-02-09 18:36] barbaragomes commented on #25
Thank you for the video.

I did the exact same thing that @gevorg94 demonstrated on the video but I was still getting the error that @flybayer mentioned on **item 5**.

@flybayer I remove `#import GPUImage.h` from the `RNVideoProcessing.h` and added the `import GPUImage` manually in each `.swift` file that required it. So far I have had no issues.

Hope that helps

[2017-02-10 11:32] shahen94 opened #26 "RN 0.41 support"

[2017-02-10 11:38] shahen94 commented on #25
@barbaragomes Thank you for keeping us informed . This PR will fix this issue https://github.com/shahen94/react-native-video-processing/pull/27

[2017-02-10 11:52] #23 closed

[2017-02-10 16:51] #26 closed

[2017-02-12 05:17] flybayer opened #30 "Failing to trim video ("operation is not supported for this media")"
I'm trying to trim a video using `VideoPlayer.trim()`, but it keeps failing with this error:
[code]
I've tried different configs and videos with no success, including linking one video to the player and another to `trim()`. However, `<VideoPlayer>` can play the video just fine.

Maybe this isn't an issue with this library, but I'm new to iOS video processing (and RN in general) and figured I'd sta

[2017-02-12 09:02] shahen94 commented on #30
@flybayer can you try please to trim video from bundle, or from assets-library.
I'm not sure that you can trim video just requiring it.
https://github.com/shahen94/react-native-video-processing/blob/master/ios/RNVideoProcessing/RNVideoTrimmer/RNVideoTrimmer.swift#L252

[2017-02-12 23:43] flybayer commented on #30
Aw, yes! I added a video picker and now can trim videos from the assets-library.

Thanks!

[2017-02-12 23:43] #30 closed

[2017-02-16 20:28] barbaragomes opened #33 "Trim View display only first frame"
I have notice that the trimming component replicates the first frame of the video over and over again. Is it right, or is it something that I'm doing wrong?

For example, if my video starts with a black screen,  the trimming view shows as completely black.

[2017-02-16 22:19] shahen94 commented on #33
thanks for reporting this problem @barbaragomes , this happens sometimes,
https://github.com/shahen94/react-native-video-processing/blob/master/ios/RNVideoProcessing/RNTrimmerView/RNTrimmerView.swift#L123
i believe we have to call this fn in other flaces too.

currently i have no time to fix this issue, since i've focused on android version

[2017-02-20 21:06] barbaragomes commented on #33
@shahen94 thank you very much for your reply.

This issue is happening to me all times.

I will take sometime to see if I can fix it =)

[2017-02-21 06:45] RZulfikri opened #34 "Problem with source props && Can you add some example of this component"
Hi, i'm trying this component but i always get an error with source props. I already copy source code from readme, but still got an error. Maybe if you dont mind. can you add full example code.? and how if i wanna edit video with uri ?

thanks

[2017-02-21 07:10] shahen94 commented on #34
@RZulfikri on which platform did you test it ? IOS or Android

[2017-02-21 07:28] RZulfikri commented on #34
I'm using android.
I got this error :
![screenshot_2017-02-21-14-23-03](https://cloud.githubusercontent.com/assets/24998199/23154696/c574b5d4-f841-11e6-8e4e-e4ceb2597e68.png)

[2017-02-21 07:42] shahen94 commented on #34
Android version is very young, and currently have different API, I had no time to update readme for android, I'll push updates in end of this week.

Stay tuned, thanks !

[2017-02-21 07:49] shahen94 commented on #33
Thank you @barbaragomes !
I'll take a time to take a look at this issue when android version will be ready.(in next week)

[2017-02-21 07:50] RZulfikri commented on #34
oke thankyou..

[2017-02-23 15:48] shahen94 commented on #34
@RZulfikri try the latest version, #35 fixed this issue
So i'm going to close this issue, feel free to reopen this issue if your issue will not be solved

[2017-02-23 15:48] #34 closed

[2017-02-26 15:43] flybayer opened #36 "Feature: Support photos:// URI (iOS Photos Framework)"
I'd like to use [react-native-photos-framework](https://github.com/olofd/react-native-photos-framework) as a video picker in conjunction with this library.

**Problem:** That library uses iOS Photos Framework, so the URI is `photos://`. Trying to feed that into this library will crash the app.

From Apple:
![screen shot 2017-02-26 at 9 40 28 am](https://cloud.githubusercontent.com/assets/8813276/2

[2017-02-26 17:47] shahen94 commented on #36
@flybayer currently library doesn't support `photos://` URI, it's a new feature , we doesn't support photos library because you can't edit remote videos (ex. From iCloud) . assets library gives only videos from users devices, that's why it's good for us, anyway we can also use `photos` URI but only local videos.

[2017-02-26 20:47] flybayer commented on #36
This issue has some helpful info: https://github.com/wkh237/react-native-fetch-blob/issues/218

[2017-02-26 21:13] shahen94 commented on #36
@flybayer Thank you !
Also i found one helpful example [from stackoverflow](http://stackoverflow.com/a/39603983/5364436)

I'm quite busy in this days. i'll back to this issue when i'll have free time.

[2017-02-27 01:37] flybayer opened #37 "Feature: Allow using library API's without mounting <VideoPlayer>"
I'm using this library to trim videos, but I don't need the `<VideoPlayer>` component. I'd love to use the API's directly without mounting this component.

Thanks! :)

[2017-02-27 09:24] shahen94 commented on #37
@flybayer you are able to edit video file without mounting VideoPlayer component.
See what we did in VideoPlayer.js file

https://github.com/shahen94/react-native-video-processing/blob/master/lib/VideoPlayer/VideoPlayer.ios.js#L6

You can import `RNVideoTrimmer` from native modules and use as you want

[2017-02-27 09:24] #37 closed

[2017-03-01 02:44] RZulfikri opened #38 "Problem with source, no view loaded."
I'm trying the usage example from readme, i use

[code]
and also for Trimmer
[code]

but, i got warning 'Failed prop type: Invalid prop source supplied to VideoPlayer' and no view loaded, also same for Trimmer . i got this in ios and android. did i miss something ?

then i'm trying using ` source={require('./video.mp4')}` no error and no view loaded.

if you don't mind, would you add an example ?

[2017-03-01 06:57] shahen94 commented on #38
@RZulfikri just add source
https://github.com/shahen94/react-native-video-processing/blob/master/lib/VideoPlayer/VideoPlayer.ios.js#L10

[code]

[2017-03-01 11:41] shahen94 opened #39 "Video compress sometimes doesn't work"
Sometimes video encodes to black

[2017-03-01 11:48] #39 closed

[2017-03-01 15:51] shahen94 commented on #38
https://github.com/shahen94/react-native-video-processing/commit/88ce49ba01f43c3d5cb5af76da38b73554a1761b

[2017-03-01 16:58] shahen94 commented on #33
@barbaragomes this issue has been fixed due to this commit
https://github.com/shahen94/react-native-video-processing/commit/f1eca469

I'm going to close this, so feel free to reopen it

[2017-03-01 16:58] #33 closed

[2017-03-01 18:08] barbaragomes commented on #33
@shahen94 Thank you very much! It is now working for me =)

[2017-03-02 00:04] RZulfikri commented on #38
already try that solution, but i got nothing in my view, it only litle red in left corner..

![simulator screen shot mar 2 2017 7 00 17 am](https://cloud.githubusercontent.com/assets/24998199/23487022/1d08d340-ff16-11e6-85dd-a4a6b03c72eb.png)

and my code :
<img width="732" alt="screen shot 2017-03-02 at 7 02 21 am" src="https://cloud.githubusercontent.com/assets/24998199/23487051/3e983fb4-ff16-11

[2017-03-02 05:46] shahen94 commented on #38
Can you please copy and past your source URI here, also please give me more details on which platform did you checked it, on which rn version do you use

[2017-03-02 05:47] shahen94 commented on #38
Can you please copy and past your source URI here, also please give me more details on which platform did you checked it, on which rn version do you use

[2017-03-02 05:57] RZulfikri commented on #38
actually i use file from camera roll/device. I use image picker component, so the URI may look like "/Users/lembah8/Library/Developer/CoreSimulator/Devices/B187BB61-5580-423A-98BC-1E1D0F3D5FA2/data/Containers/Data/Application/D82AA33C-E5B0-467A-B4BD-B2F57E7EDBA4/tmp/trim.72D3B914-8A93-473D-8158-4046026A7C34.MOV"

i try it on IOS, using react-native 4.0

[2017-03-02 13:49] shahen94 commented on #38
seems like you linked library not correctly, check `How to setup` section

[2017-03-02 14:14] flybayer commented on #38
I think when the path is like yours, @RZulfikri, you need to prepend `file://` to the path.

[2017-03-03 02:29] RZulfikri commented on #38
@shahen94 already try setup xcodeproj by following video tutorial for  twice, but still got same problem..  @flybayer already try but still same..

can you add some example project ?

thanks.

[2017-03-03 03:03] RZulfikri commented on #38
@shahen94 when i try on android it work

This the view when i try in ios and android.

| Android | IOS |
| ----- | ----- |
| ![screenshot_2017-03-03-09-53-32-851_id veedy mobile](https://cloud.githubusercontent.com/assets/24998199/23536444/810e4b22-fff7-11e6-8bfc-8d78a2e69ae7.png) | ![simulator screen shot mar 3 2017 9 53 39 am](https://cloud.githubusercontent.com/assets/24998199/23536453/8c91f3ae

[2017-03-03 07:05] shahen94 commented on #38
@RZulfikri you are using reacts natives images picker right ?

[2017-03-03 07:14] RZulfikri commented on #38
@shahen94  yup..

[2017-03-03 07:17] shahen94 commented on #38
Well, it as result gives you object right, pass `origUrl` to source

[2017-03-03 07:23] RZulfikri commented on #38
still same, i got uri like this "file:///Users/lembah8/Library/Developer/CoreSimulator/Devices/B187BB61-5580-423A-98BC-1E1D0F3D5FA2/data/Containers/Data/Application/5020CE67-D857-4C72-9166-C13D7060452E/tmp/trim.0B0D6057-ED5D-40EA-A8D0-FEDCE281F0CA.MOV"

[2017-03-03 10:16] shahen94 commented on #38
@RZulfikri `origUrl` gives you url from assets library, it should start with `assets-library?` .

[2017-03-03 10:21] RZulfikri commented on #38
@shahen94 so i should try that on device ? because assets-library only for devices ?

[2017-03-03 10:29] shahen94 commented on #38
@RZulfikri not only, i used it on simulator

[2017-03-03 13:29] shahen94 commented on #38
@RZulfikri Definitely you're linked the library not correctly. React-native shows red border around unrecognized view.

[2017-03-04 04:57] RZulfikri commented on #38
@shahen94 what should i do then ?

[2017-03-04 07:38] shahen94 commented on #38
@RZulfikri check chrome console, there should but an error,  remove library from project and follow the video, and do all what it shows

[2017-03-04 08:38] RZulfikri commented on #38
@shahen94 ok thank you, i will try..

[2017-03-05 10:56] RZulfikri commented on #38
yeah you right. Already remove library and re-add library but still got this issue..

<img width="1680" alt="screen shot 2017-03-05 at 5 20 57 pm" src="https://cloud.githubusercontent.com/assets/24998199/23586489/51d0490a-01c8-11e7-8ab5-d8a6e48c703f.png">

[2017-03-05 11:31] RZulfikri commented on #38
@shahen94 i guess it because failed import method..  based on tutorial video, i must import RVVideoProcessing like `#import "RNVideoProcessing.h"` and it look same at "RNVideoProcessing.h" `#import "RNTrimmerView.h"` and i'm trying to add file directory before file name, but still got that error..   And thanks for your response

[2017-03-06 04:19] RZulfikri commented on #38
@shahen94 i already follow step from readme and step from video, but still error..

[2017-03-13 02:03] JBerendes opened #40 "Trimmer glitching"
Trimmer glitches when trying to grab the start, end, or current position of trimmer.
Is anyone else having this issue? I'll see if I can get a recording.

[2017-03-13 06:01] shahen94 commented on #40
@JBerendes thanks for reporting this issue.
Can you please give us more details ? Where it's happening on iOS or on Android, your react-native version and that's piece of code.

[2017-03-13 13:51] JBerendes commented on #40
Nevermind. It's so strange it just started working out of nowhere. I had been fussing with it for a few weeks. I'm on iOS and running completely up to date. I'll post a video if I run into any more anomalies

[2017-03-13 13:51] #40 closed

[2017-03-13 15:11] JBerendes opened #41 "Increase tap surface for start and end handles"
The trimmer works if can tap and get ahold of the shaded area to the left of the start or to the right of the end. When it starts it's likely at 0. Obviously grabbing something with 0 width is hard. It takes about 3 to 5 tries to get ahold of the left trimmer and even more for the right one. Is there a way to increase the hitslop of these? Would anyone else find it worthwhile to add a handleHitslo

[2017-03-13 15:54] JBerendes commented on #41
i can help if you want to point me at a good place to start looking. If you would rather do it I can help with the pull request.

[2017-03-13 16:20] shahen94 commented on #41
@JBerendes i've added 20 points hitSlop around right and left corners, so it should help

[2017-03-13 17:23] JBerendes commented on #41
testing now

[2017-03-13 17:50] JBerendes commented on #41
It doesn't seem to have been solved.  The video starts several seconds after I have been trying to grab the starting trimmer ... Then when I'm moving it more fluidly it's because I'm grabbing the shaded area.
![mar-13-2017 12-48-19](https://cloud.githubusercontent.com/assets/596925/23867892/6a4c80f6-07eb-11e7-9fac-7295efcd1679.gif)

[2017-03-13 17:56] shahen94 commented on #41
Well try to change that line which I've pointed

[2017-03-13 17:57] JBerendes commented on #41
My thought is that the area offered as touchable is not larger than what is visible. So any touch events that occur to the left of the white start trimmer are not seen because the are outside of the parent container.

I'll try what you just mentioned. Thanks

[2017-03-13 18:34] flybayer opened #43 "Feature: Add watermark-type overlay to videos"
I need to add a watermark to my videos. If you're ok with this feature being added, @shahen94, I'll submit a PR after I finish it.

[2017-03-13 18:36] flybayer opened #44 "Feature: Concatenate two videos together"
I need to concatenate two videos together. If you're ok with this feature being added, @shahen94, I'll submit a PR after I write the code.

[2017-03-13 18:38] shahen94 commented on #43
@flybayer pull request is welcome, thanks !

[2017-03-13 18:40] shahen94 commented on #44
That would be awesome to have that functiomality

[2017-03-13 19:59] JBerendes commented on #41
I see, we need access to a thumbWidth prop so it can be passed to ICGVideoTrimmerView.m on smaller devices it's simply to narrow at the default value.

[2017-03-13 20:06] shahen94 commented on #41
great, look how we provide all props to JS side, in similar way you can also pass thumbsWidth prop

[2017-03-13 20:07] JBerendes commented on #41
will do.

[2017-03-14 06:58] shahen94 commented on #41
Released https://github.com/shahen94/react-native-video-processing/releases/tag/v1.5.0

[2017-03-14 20:07] JBerendes commented on #41
looks good.

[2017-03-14 20:07] #41 closed

[2017-03-17 17:43] shahen94 commented on #43
@flybayer just for notice when you'll e able to open PR ?

[2017-03-17 18:12] flybayer commented on #43
Should be within a week. I haven't started yet but need it soon.

[2017-03-18 16:27] santiagovazquez opened #48 "Swift is not supported for static libraries"
Hi,

I just started a project with RN and I'm trying to use this library (I'm not familiar with iOS development).

I followed the steps on the readme. I did not have the bridging header file so I followed: https://github.com/shahen94/react-native-video-processing/issues/14

XCode won't compile my project, I'm getting "Swift is not supported for static libraries" for RNVideoProcessing:
<img width="

[2017-03-18 16:59] shahen94 commented on #48
@santiagovazquez hi, please watch this video
https://github.com/shahen94/react-native-video-processing#how-to-setup-library

[2017-03-18 21:21] santiagovazquez commented on #48
Hi @shahen94, thanks for the quick response!

If I follow the video steps it works (only iOS). But if I run the command for android set up (react-native link react-native-video-processing) it starts to show that message. Any ideas?

[2017-03-18 21:48] shahen94 commented on #48
@santiagovazquez seems like you have to link android manually, i'll write about it in readme when i'll have a chance

[2017-03-18 21:49] shahen94 commented on #48
when you're running `react-native link` it tries to link ios again, but since react-native can't link Swift library it starts fail again

[2017-03-18 22:46] santiagovazquez commented on #48
@shahen94 Great, thanks for your help! Awesome library!

One last question, is it possible to use an URL as a source?

My code:
[code]

I get this error (iOS):
<img width="371" alt="screen shot 2017-03-18 at 7 37 58 pm" src="https://cloud.githubusercontent.com/assets/520412/24076564/a94d2ac8-0c12-11e7-80a9-aa49da03d055.png">

It works on my terminal if I do `wget 'http://10.5.5.9:8080/videos/DCIM/

[2017-03-19 07:08] shahen94 commented on #48
Unfortunately no, currently you can't process remote video, VideoPlayer can play that but can't trim/compress or do some processing actions. library still working only with assets-library, do you can give a link from CameraRoll

[2017-03-20 16:21] santiagovazquez commented on #48
hey @shahen94,

I'm not an iOS developer, so I do not understand completely what I did.

I read this post http://stackoverflow.com/questions/31383655/avassetexportsession-trim-download
and then I changed:
https://github.com/santiagovazquez/react-native-video-processing/commit/5d5755b02048c3330fc5ef0f7c5602eec0187bdb

Now I'm able to use a remote URL to cut a video (without having to download it) 😄

[2017-03-20 16:28] shahen94 commented on #48
Hey @santiagovazquez .
`asset.loadValuesAsynchronously` yea, you loaded video info asynchronously, probably that's a better idea than downloading video,  great job !  :D

If you can put back quality options and all functionality and keep only this feature,that would be great.

[2017-03-20 16:32] santiagovazquez commented on #48
@shahen94 let me try that and i will do a PR.
thanks for all your help!

[2017-03-20 16:33] shahen94 commented on #48
@santiagovazquez thanks for contributing !

[2017-03-26 18:26] shahen94 commented on #38
@RZulfikri do you still have this issue ?

[2017-03-26 20:31] RZulfikri commented on #38
@shahen94 For IOS ? yes..

[2017-03-26 21:52] shahen94 commented on #38
Well, let's try to link android manually.
for the first unlink library
[code]

after that

Open up android/app/src/main/java/[...]/MainActivity.java
Add `import com.shahenlibrary.RNVideoProcessingPackage;` to the imports at the top of the file
Add new  `new RNVideoProcessingPackage()`  to the list returned by the getPackages() method
Append the following lines to android/settings.gradle:
[code]

I

[2017-03-30 03:12] RZulfikri commented on #38
@shahen94 thanks

[2017-03-30 12:26] BraunreutherA opened #53 "Borderwidth CGFloat <-> NSNumber?"
Hi after importing the library I get this error:

![error](https://preview.ibb.co/dDHLov/Bildschirmfoto_2017_03_30_um_14_21_20.png)

Am I importing something wrong or is this a bug?

[2017-03-30 12:37] shahen94 commented on #53
@BraunreutherA Thanks for reporting this issue. Unfortunately this is issue related to the latest PR.
https://github.com/shahen94/react-native-video-processing/pull/52

Please install 1.8.0 version instead of 1.9.0, i'll publish to npm the fix as soon as possible

[2017-03-30 20:20] #53 closed

[2017-04-04 10:47] #38 closed

[2017-04-05 01:23] barbaragomes opened #54 "Video Layer displayed twice"
Hey there,

I upgrade to the latest version but I notice that a bug (not sure if it is a bug) start happening on version 1.7.0 and up. I can see the video layer twice in the screen:

![video](https://cloud.githubusercontent.com/assets/13023284/24685629/a56cd102-1963-11e7-951c-118fa4718af5.png)

Here is my react-native code:

[code]

Any ideas? That does not happen up to version 1.6.0

Thanks

[2017-04-05 05:31] shahen94 commented on #54
Hi @barbaragomes unfortunately it's a bug, still I don't know how to fix it.
You can use temp branch, there I removed `resizeMode` .

I need some time to figure out why it's happening with landscape videos

[2017-04-05 19:19] barbaragomes commented on #54
@shahen94  Thank you very much. I will be using the temp branch

[2017-04-18 03:45] choungchamnab opened #55 "Error When build"
I got error when trying build. Please see in the image:

[Error](https://drive.google.com/open?id=0Byim0RqdqHbWbVB5dG5xNzByNkk)

Xcode : 8.3.1

[2017-04-18 07:46] shahen94 commented on #55
Hey @choungchamnab .
Please use `temp` branch for now until i'll fix some issues.
https://github.com/shahen94/react-native-video-processing/issues/54

[2017-04-18 08:16] SrengGueckly opened #56 "video trim for android available?"

[2017-04-18 08:36] shahen94 commented on #56
Yes, you can trim video in android

[2017-04-18 08:36] #56 closed

[2017-04-18 08:46] SrengGueckly commented on #56
@shahen94 how ? Can u introduce me some code coz I'm a beginner with react native?

[2017-04-18 08:47] shahen94 commented on #56
Please take a look `usage` section in `README`
https://github.com/shahen94/react-native-video-processing#usage

[2017-04-18 08:52] SrengGueckly commented on #56
@shahen94 I followed all installation instruction and I want to choose video from my device , so I changed property source in both <VideoPlayer> and <Trimmer>  to my own local path , but it doesn't work

[2017-04-18 08:53] shahen94 commented on #56
Please produce error completely

[2017-04-19 03:29] choungchamnab commented on #55
Thank You. I got success on build.

[2017-04-19 03:29] #55 closed

[2017-04-19 04:27] SrengGueckly commented on #56
@shahen94 attempt to invoke virtual method int android graphics bitmap getwidth , how can I solve with this error?

[2017-04-19 04:28] SrengGueckly commented on #56
@shahen94 the video is trimmed but I can only hear the sound without video!

[2017-04-25 17:59] olitomas opened #58 "Android compression timeline"
Is anyone working on the compression feature for Android ? I see the checkbox but was wondering if it means someone is working on it and if we can expect it anytime soon ?

[2017-04-25 18:08] shahen94 commented on #58
Hi @olitomas. I'm a busy in thes days, so can't work on it. .but PR are welcome.

[2017-04-25 18:13] olitomas commented on #58
@shahen94 thanks for the quick reply, good to know :) Unfortunately Android stuff is not within my skillset so I wont be able to help.

[2017-04-25 18:23] shahen94 commented on #58
@olitomas android stuff little bit complicated, we should remove current trim implementation as well and replace it with Ffmpeg stuff. and after that we can do with videos what we can imagine(compress, trim, filtering, remove audio, etc.). Anyway stay tuned, probably I'll work on it in next month

[2017-04-25 18:23] #58 closed

[2017-04-26 05:47] matart15 opened #59 "Can't make it work"
After adding library to my project it displays error
[code]

[2017-04-26 06:02] shahen94 commented on #59
Please provide code and errors from chrome console

[2017-04-26 06:31] matart15 commented on #59
No code .
1. My project is working just fine.
2. I run `yarn add react-native-video-processing`. no `react-native link`
3. then I run `react-native run-ios`
4. after app load error on console is
<img width="426" alt="screen shot 2017-04-26 at 15 30 08" src="https://cloud.githubusercontent.com/assets/17027219/25420911/605e332e-2a95-11e7-99cf-f474850eba9f.png">

[2017-04-26 06:32] matart15 commented on #59
Also if I remove `react-native-video-processing` from `package.json` and run `yarn`
error disappears

[2017-04-26 06:47] shahen94 commented on #59
Thanks for reporting this issue.
Seems like in your project you have 2 react versions, we need to remove react from react-native-video-processing package.json or move it to peer dependency. This should fix your issue

[2017-04-26 06:49] matart15 commented on #59
I see there is `react` in react-native-video-processing package.json.

I will try removing it.

[2017-04-26 07:03] matart15 commented on #59
@shahen94 sorry
I tried removing `node_modules/react-native-video-processing /node_modules` folder. But no luck.
there is no `react` in package.json of `react-native-video-processing`

same error

[2017-04-26 07:21] shahen94 commented on #59
@matart15 Did you stop and rerun the package ?

[2017-04-26 07:42] matart15 commented on #59
Yes i eve tried `rm -rf $TMPDIR/react-* && watchman watch-del-all && rm -rf ios/build/ModuleCache/* && rm -rf node_modules/ && yarn cache clean && yarn`

[2017-04-26 08:01] matart15 commented on #59
@shahen94
ok I figured it out. in `podfile` i had this.
[code]
`react-native-maps` instruction required it.

But it works if i comment out these lines.
I wonder how other dependencies like `react-native-video` and `react-native-camera` were working with 2 `react` installed.

[2017-04-26 08:02] matart15 commented on #59
Closing the issue

[2017-04-26 08:02] #59 closed

[2017-04-28 15:38] RazvanCosmeanu opened #60 "“Swift Language Version” (SWIFT_VERSION) build error"
`“Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.`

Hello , and thanks for the work you've put in this library, I look forward to using it.
~~Don't really know if this is more of an x

[2017-04-29 07:28] shahen94 commented on #60
@gevorg94  can you please take a look what the conflict is with Swift version

[2017-04-29 12:20] shahen94 commented on #60
@RazvanCosmeanu Please take a look this solution.
http://stackoverflow.com/a/41157875

[2017-04-30 19:00] kesha-antonov opened #61 "[Android] Low quality of getFrameAt"
Hello, @shahen94 !

I'm working on some features for this lib right now.

When do I try to get preview of video as image I see it in a low quality. Do you have thoughts how to improve this?

I searched for MediaMetadataRetriever. And appears that it has low quality when capturing frame if I'm not mistaken.

They advice to use MediaCoder: http://stackoverflow.com/questions/31789609/android-bitmap-c

[2017-04-30 20:11] shahen94 commented on #61
Hi @kesha-antonov.

I've didn't paid attention to that. But now i just checked that our and see that it's producing images with low quality.

Probably the right way is to use `FFMPEG for android`. It's a fastest way, and full configurable.

We have it in [Roadmap](https://github.com/shahen94/react-native-video-processing#roadmap), so using it now definitely will give you more control over videos
h

[2017-05-01 09:17] RazvanCosmeanu commented on #60
@shahen94 thanks for the tip, but it was being correctly set.

Maybe there's something wrong in my install flow:

`//package.json`
`"dependencies": {
    "react": "^15.4.0",
    "react-native": "0.43.3",
    "react-native-camera": "git+https://github.com/lwansbrough/react-native-camera.git",
    "react-native-video-processing": "^1.9.0",
    "react-navigation": "git+https://github.com/react-commun

[2017-05-01 09:33] shahen94 commented on #60
We faced with this issue before.
https://github.com/shahen94/react-native-video-processing/issues/53
Please try to install from master branch directly instead of npm,  I had no time to publish current master branch to npm. It should fix your issue

[2017-05-01 09:44] RazvanCosmeanu commented on #60
@shahen94 Installing @1.8.0 made the compile errors go away. Thanks!

[2017-05-01 09:52] #60 closed

[2017-05-01 10:04] kesha-antonov commented on #61
OK.

So now this lib is using this package:
https://github.com/wseemann/FFmpegMediaMetadataRetriever

And in roadmap we have to change to this lib:  http://writingminds.github.io/ffmpeg-android-java/

Is it correct?

I'm a beginner in android dev so not familiar with "packages"

[2017-05-01 10:19] shahen94 commented on #61
Correct - here's the list of android dependencies
https://github.com/shahen94/react-native-video-processing/blob/master/android/build.gradle#L22

[2017-05-01 11:38] kesha-antonov commented on #61
Great!

Thank you! @shahen94
I will experiment with that and send PR on success

[2017-05-01 11:53] shahen94 commented on #61
Cool ! Thank you.
I'll keep this thread open, so ping me if you'll need help.

[2017-05-01 17:04] kesha-antonov commented on #61
@shahen94

I was able to link FFmpeg and process file with it but it left file the same. FFmpeg did not change anything. In my case I used "crop" command

Seems like it's because http://writingminds.github.io/ffmpeg-android-java/ is outdated (1 year passed since last update. ffmpeg v. 3.0.1 or something. I forgot where I saw it)

So next step is to build new FFmpeg (3.3) https://ffmpeg.org/downloa

[2017-05-01 17:06] kesha-antonov commented on #61
My last commit with android and "crop": https://github.com/kesha-antonov/react-native-video-processing/commit/dae3b5862a29c74d81d7231a9e149eca710763e2

All changes: https://github.com/shahen94/react-native-video-processing/compare/master...kesha-antonov:master

[2017-05-01 17:13] shahen94 commented on #61
What the error do you get ?

[2017-05-01 17:26] kesha-antonov commented on #61
[code]

We need something like this PR: https://github.com/WritingMinds/ffmpeg-android-java/pull/70/files
But I didn't understand how to build these packages for now.

And seems like those scripts is meant for ubuntu. I'm on mac
https://github.com/WritingMinds/ffmpeg-android

I'll try to build script by script a little bit later.

[2017-05-01 19:18] kesha-antonov commented on #61
Ok. I've pasted that error. I think I'll be able to build it tomorrow

[2017-05-01 20:13] shahen94 commented on #61
Great. @kesha-antonov sorry for slow reply.
I'm little bit busy tomorrow, but will try to find time and figure out what's the error is it

[2017-05-01 23:00] ranjitpandit opened #62 "getting an error when testing with sample code"
Hi, I tried creating a sample project to test out the module but I'm getting this error when the application loads.
I followed all the steps as given in the Readme and  I'm just using the example code
Here is a screen shot.
I have tried a number of things but I'm always getting this error.  Any ideas?

![screen shot 2017-05-01 at 3 58 00 pm](https://cloud.githubusercontent.com/assets/2948979/25597

[2017-05-02 03:35] kesha-antonov commented on #61
Yeah, no problem!

As I said I was able to almost build it. And I think if all OK I'll build it myself.
I'll write later about results

[2017-05-02 04:13] kesha-antonov commented on #61
Ok. I've build it
1) Fixed scripts to make the build: https://github.com/kesha-antonov/ffmpeg-android
2) Replaces bins: https://github.com/kesha-antonov/ffmpeg-android-java

Maybe we need something more to change in ```ffmpeg-android-java```?

[2017-05-02 04:29] kesha-antonov commented on #61
Do you know where to upload https://github.com/kesha-antonov/ffmpeg-android-java to get it from build.gradle?

[2017-05-02 05:32] kesha-antonov commented on #61
I've tried jitpack but it always gives error. I'm not familiar with java packages so "walking in the dark" right now. Maybe you have some experience with jitpack?

[code]

build.gradle:
[code]

[2017-05-02 06:02] shahen94 commented on #61
It's ok, it can't compile your patched repository from github.
You have to publish it to `jcenter` . Please take a look this article. It describes how to publish and compile gradle dependencies
https://inthecheesefactory.com/blog/how-to-upload-library-to-jcenter-maven-central-as-dependency/en

[2017-05-02 06:12] kesha-antonov commented on #61
But jitpack is meant to use repositories from Github: https://jitpack.io/

So no need to push to jcenter

[2017-05-02 06:12] shahen94 commented on #62
You didn't compile sources. Watch the demonstration video
https://github.com/shahen94/react-native-video-processing#how-to-setup-library

[2017-05-02 06:13] kesha-antonov commented on #61
Anyway I'm stuck here(

Need your help!

[2017-05-02 06:16] shahen94 commented on #61
I see. i haven't experience with jitpack, but will try to take a look this in the evening.
If you have time watch this, the full introduction how to publish to jitpack.

https://www.youtube.com/watch?v=RYiZZprUNJw

[2017-05-02 06:23] kesha-antonov commented on #61
Cool! Thanks!

Yeah, I'll watch. Will report if have any other results

[2017-05-02 06:59] kesha-antonov commented on #61
Ok. I was able to build it after adding
[code]
to ```myproject/android/app/build.gradle```

No sure why though. I have this already in RN-video-processing/build.gradle

[2017-05-02 07:05] shahen94 commented on #61
You need to point from where he should lookup dependencies, so no problem, add it if it will solve problem with install.

[2017-05-02 07:39] kesha-antonov commented on #61
Seems like new ffmpeg working but not cropping anything.
Test locally: all OK

Must be something with android filesystem. Maybe I declare output file wrong somehow

https://github.com/kesha-antonov/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L322-L332

Logs:
[code]

Any thoughts? @shahen94

[2017-05-02 07:50] shahen94 commented on #61
@gevorg94 can you please take a look why it doesn't crop properly ?

[2017-05-02 07:51] shahen94 commented on #61
@kesha-antonov can you please run `-version` only to see is FFMPEG installed and working or not

[2017-05-02 07:59] shahen94 commented on #61
@kesha-antonov can you please try to set path without `file://`
like this `/storage/emulated/0/Download/videofile.mp4` Also take look how we generate file with folders
https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/utils/VideoEdit.java#L86

[2017-05-02 08:01] kesha-antonov commented on #61
Sure.

I've added method ```load```  which loads ffmpeg https://github.com/kesha-antonov/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L374

And it logged it is succeffuly initialized.

It loads here: https://github.com/kesha-antonov/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/TrimmerManager.java

[2017-05-02 08:21] kesha-antonov commented on #61
In the output file I see original file.
It feels strange for me.

Seems like ffmpeg working but I don't see changes.

hm. I'll try your method of creating files. Maybe it changes something I don't know

[2017-05-03 12:03] #62 closed

[2017-05-03 12:25] kesha-antonov commented on #61
Ok. I did it. All works now

Will send PR with latest changes

[2017-05-03 12:50] shahen94 commented on #61
@kesha-antonov You're great, thanks !

[2017-05-03 16:42] #61 closed

[2017-05-09 17:35] shahen94 commented on #44
Closing this thread due to long inactivity

[2017-05-09 17:35] #44 closed

[2017-05-09 17:35] shahen94 commented on #43
Closing this thread due to long inactivity

[2017-05-09 17:35] #43 closed

[2017-05-09 17:36] flybayer commented on #44
Hey, I'd still love to have this! I just haven't yet had time to do it myself. :)

[2017-05-09 18:04] shahen94 commented on #44
This is pretty easy to implement on both platforms, iOS have AVFoundation which is allows to do that.
We just merged @kesha-antonov 's PR, he did great job on android side, and configured `FFPEG`, so using it i definitely sure that we can do it also for android as well.

I had no time as well to work on this project actively, i've planned to resume work in next week. But implementing concatination

[2017-05-11 23:22] garrettmac opened #64 "What does this do? [REQUEST - Update Description by adding Features / Snapshots]"
I noticed the video didn't show it in action and I didn't see a description describing this project, rather, it just shows how to set it up.

by looking at your code from my understanding it does the following:

* records videos
* allows you to trim the video before you save
* save to camera roll

is that correct?

Any snapshots would be great or a description of its features would be great.

[2017-05-12 07:46] shahen94 commented on #64
I think this screenshot will answer your question
![screen shot 2017-05-12 at 11 44 37 am](https://cloud.githubusercontent.com/assets/13334788/25988333/a44a94b8-3708-11e7-8227-403eaa98abe2.png)

[2017-05-22 14:31] JBerendes opened #65 "Android only: no progress bar or indicator in trimmer"
It seems like this is missing on Android. Could be something I'm failing to do configuration-wise or it was never implemented. Or maybe this should just be considered a feature request. Thoughts? My time to dig into it has been short as of late but should some open up I'll let you know if I start working on it.

[2017-05-22 21:30] shahen94 commented on #65
agreed, good catch - we can have optional loader.
Trimmer for android implemented in JS side, so that's should be easy to maintain.

[2017-05-24 18:11] ricardofavero commented on #58
Thank you for developing this library, it's being really useful to me.
Has anyone made any progress in Android compression?

[2017-05-24 19:27] shahen94 commented on #58
Hi @ricardofavero.
Now we have FFMPEG installed in the library ecosystem - remained to call required FFMEPG command.

I can show point from where to start if there will be someone who's familiar with android development.

[2017-05-30 16:08] babs100 opened #66 "Video Compression"
Please can I do video compression and resizing on android now?

If So the doc should reflect it. The IOS only part

[2017-05-30 16:51] shahen94 commented on #66
We decided to start work on android compression from tomorrow.
Right now library don't give an ability to compress and resize video on android.

[2017-05-30 16:51] #66 closed

[2017-05-30 20:11] #64 closed

[2017-05-30 20:39] JBerendes opened #67 "ffmpeg not resolving correctly"
Error:Failed to resolve: com.github.kesha-antonov:ffmpeg-android-java:e69ea470d69d271fafbd03d0a4b0ea67d6731ccc

@kesha-antonov, what actions need to be taken to get this dependency working?

This is a breaking bug for me.

[2017-05-30 21:09] shahen94 commented on #67
@JBerendes Do you mean the android version is broken ?

[2017-05-30 21:43] JBerendes commented on #67
Yes the android version is broken for me. Please confirm if you can.

[2017-05-30 21:59] shahen94 commented on #67
ok - i'll test it tomorrow, and will write about result here

[2017-05-30 22:11] kesha-antonov commented on #67
@JBerendes
Did you add ?
<img width="781" alt="screen shot 2017-05-31 at 01 11 11" src="https://cloud.githubusercontent.com/assets/11584712/26607217/14dabc82-459e-11e7-9496-1dc1a802d516.png">

[2017-06-05 02:11] petrgazarov opened #68 "Library not loaded: @rpath/GPUImage.framework/GPUImage"
[code]

Hey there,

Unable to load on real iOS device (works in Simulator). Both Clean and Build succeeds in XCode, but getting the above error when the app tries to open on my iPhone.
Did all setup steps for iOS, tried restarting Xcode and computer, no help.
`GPUImage.xcodeproj` is definitely on the "top" level, along with `RNVideoProcessing`.

Here is the contents of my bridging header file:
[co

[2017-06-05 09:43] shahen94 commented on #68
That's weird to me.
Are you sure that you installed library as demonstrated in video ?
https://www.youtube.com/watch?v=HRjgeT6NQJM&feature=youtu.be

[2017-06-06 15:22] rad182 commented on #68
I'm also getting this error. I follow the video. no luck.

**Environment**
MacOS Sierra 10.12.5
XCode 8.3.2
iOS 10.2.1
react-native `0.43.4`
react-native-video-processing `1.10.0`

[2017-06-06 20:23] JBerendes opened #70 "Android: Losing the trimmer thumb handlers"
I have the trimmer set to the width of the screen. Thumb handlers disappear seemingly off the side of the screen. Position tracking on the the drag or release must be getting an invalid location.
This should be contained as to not go beyond 0 or the end of the video.

[2017-06-06 21:11] shahen94 commented on #67
Closing this due to long inactivity

[2017-06-06 21:11] #67 closed

[2017-06-07 13:43] shahen94 commented on #54
Temp branch has been merged with master and deployed to npm registry.

[2017-06-07 13:43] #54 closed

[2017-06-11 21:10] GeoffreyPlitt opened #74 "Extract thumbnail from specific moment of video?"
Is there a way to extract an image from a specific timecode or frame number?

[2017-06-11 21:23] shahen94 commented on #74
Hi @GeoffreyPlitt .
Sure - Have a look https://github.com/shahen94/react-native-video-processing#usage

[code]

[2017-06-11 21:23] #74 closed

[2017-06-16 07:58] gevorg94 opened #75 "Getting android build error"
Sometimes I'm getting this error
[code]

Where do we need to add `tools:overrideLibrary="com.github.hiteshsondhi88.libffmpeg"` to avoid that? @kesha-antonov
My `minSdkVersion` is 17 in both AndroidManifest.xml and app/build.gradle

[2017-06-16 08:02] gevorg94 commented on #75
I tried to add `tools:overrideLibrary="com.github.hiteshsondhi88.libffmpeg"` in my project's manifest but it doesn't help. Seems it should be added to your library.

[2017-06-16 08:24] kesha-antonov opened #76 "android: in compress we should ensure width/height is divisible by 2"
Hello.

Just a note to not forget.

Here we should check
https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L235-L236

like here:
https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L406-L418

[2017-06-16 08:40] kesha-antonov commented on #75
Hey!
Do you have this?

https://github.com/shahen94/react-native-video-processing/issues/67#issuecomment-305023617

[2017-06-16 08:46] gevorg94 commented on #75
yes @kesha-antonov. Described error appears after android studio's indexing complete but it disappears after pressing build app and the app successfully build.

[2017-06-16 08:47] gevorg94 commented on #75
I just want to know if we can prevent it

[2017-06-16 09:09] kesha-antonov commented on #75
I don't know.
I build android through CLI (not android studio)

[2017-06-16 09:54] shahen94 commented on #76
Thanks for suggestion.
But why do we need to ensure that width/height is divisible by 2 ?

[2017-06-16 10:09] kesha-antonov commented on #76
ffmpeg will throw error

[2017-06-16 16:10] JBerendes commented on #75
@gevorg94 Plenty of libraries give me grief like that. I find a postinstall hook in the package.json is the best option since we are all working on the bleeding edge. This covers more than react-native-video-processing but you should get the idea.

a section of my scripts in package.json::
[code]

[2017-06-16 16:33] JBerendes opened #77 "Default some values rather than require constants or other values"
This is certainly an enhancement request and I would be willing to help with the updates but would require a brief discussion.

To keep the code little more lean consider the best/common use case and set default values.
example:
Dont't make the dev write::
[code]
when defaults would allow them to write::
[code]
Defaults: startTime=0, endTime=null, play=true, replay=false, rotate=true, playerWidth=

[2017-06-16 16:38] shahen94 commented on #77
I'm totally fine with this suggestions, but for some users this can be breaking change right.
If you want to open PR for this - i'll recommend you to commit it with prefix `BREAKING CHANGE`

[2017-06-16 17:08] JBerendes commented on #77
I wouldn't see this as a breaking change unless I'm misrepresenting some values that already have defaults set. Leave any current defaults as is. Does this seem correct?
This really comes to light for me because I started getting a warning when the resizeMode constant was introduced. Having a warning come that I had to dismiss and then deal with was what I considered a breaking change. Am I making

[2017-06-19 15:18] shahen94 commented on #77
Well, i get it. i'm totally fine with this, i'll accept PR related to this issue.

[2017-06-20 14:27] JBerendes commented on #75
@gevorg94 Did you get your build working per my solution? If so I think we could add it to the readme and close the issue.

[2017-06-20 15:00] gevorg94 commented on #75
No I haven't tried to build with your solution yet. I will try it soon

[2017-06-23 03:30] JBerendes commented on #75
@gevorg94 also note the solution I provide only works if you already have your project open in Android Studio... the build.gradle files for each node module won't exist until Android Studio does a sync. So the other solution would be to not run a postinstall hook and instead just note that you have to execute that as a standard script afterward.

In this order:
1. npm install
2. Open the project i

[2017-06-27 20:35] rpastorelle commented on #48
@shahen94 I went thru all the steps above & am still having this issue. Xcode automatically created my Bridging Header file inside the RNVideoProcessing group that I created when following the video tutorial. The contents of my file looks like this:

[code]

I've tried every single combination of imports, such as the following:

[code]

Do you have any advice for how to get this package working?

[2017-06-27 20:54] shahen94 commented on #48
Can you please copy/past the error messages ?

[2017-06-27 21:02] rpastorelle commented on #48
I get the exact error listed above: https://cloud.githubusercontent.com/assets/520412/24073932/830f1f4e-0bde-11e7-8779-4a04f9117bd4.png

[2017-06-27 21:14] shahen94 commented on #48
@rpastorelle did you run `react-native link` ?

[2017-06-28 09:36] mannol opened #78 "Licensing"
AFAIK this library is using: https://github.com/kesha-antonov/ffmpeg-android-java which is licensed under GPLv3. There should be a notice in the README about the limitations of using this library.

[2017-06-28 09:57] shahen94 commented on #78
Hi @mannol . Thanks you for taking a look such things. I'm not sure that i understand what's the problem, can you please change it and open PR

[2017-06-28 10:12] mannol commented on #78
Before I do so, it's important to understand the limitations of using GPL in a project: "(TL;DR from wikipedia) ... if GPLed parts are used in a program (and the program is distributed), then all other source code of the program needs to be made available under the same license terms". Therefore, this module (react-native-video-processing) can only be used in opensource software, unless, the licen

[2017-06-28 12:14] rpastorelle commented on #48
@shahen94 I ran `react-native link` first & had this issue. Then I followed the video tutorial.

[2017-06-28 15:22] shahen94 commented on #48
Might @santiagovazquez can help you ?

[2017-06-28 15:38] santiagovazquez commented on #48
@rpastorelle I recommend you to clone the repo again and follow the video tutorial

[2017-06-28 16:37] rpastorelle commented on #48
Yeeeahhh. I did that a few times already but I'll give it another shot

[2017-06-29 14:56] rpastorelle opened #79 "iOS: Swift is not supported for static libraries."
![screen shot 2017-06-29 at 10 53 14 am](https://user-images.githubusercontent.com/746320/27694121-3db5c2c8-5cb9-11e7-85a2-43af69bd4f10.png)

I admit this is a duplicate of #48 but that ticket is closed and I continue to have the issue.

Using RN 0.45.1

Steps to reproduce:

1. `npm install react-native-video-processing --save`
2. `react-native link`
3. Build fails in Xcode with above error
4. Fol

[2017-06-29 15:31] rpastorelle commented on #48
I was able to get this working! A couple notes:

• I did *not* use `react-native link` (when I did it caused this issue).
• I did *not* follow the video setup guide (importing that way also created this issue for me)
• *I DID* follow the manual iOS setup from the README. √

[2017-06-29 15:44] shahen94 commented on #48
So - You mean that the video demonstration doesn't help ?

Where's the problem, but right now linking this library to project is a main issue. The library we wrote on Swift, and react-native can't link Swift libraries automatically (with react-native link command). Sorry for you pain, and glad to hear that you could  get it to work

[2017-06-29 15:51] rpastorelle commented on #48
@shahen94 Nevermind. It only worked because I didn't compile sources. As soon as I did that I have the same issue again. Still can't use the library :/

[2017-06-29 15:52] shahen94 commented on #48
@gevorg94 can you take a look what could be the problem ?

[2017-06-29 16:00] #79 closed

[2017-06-29 16:15] shahen94 commented on #48
I just run into steps that you provide, and have been able to compile,
Please run `react-native unlink react-native-video-processing` and then again follow to the demo video

[2017-06-29 17:14] rpastorelle commented on #48
@shahen94 Should I run thru the video demo AND run `react-native link` or just the video demo?

[2017-06-29 18:08] rpastorelle commented on #48
@shahen94 I have finally got this working! Life lesson: Never ever use `react-native link`. I also think I may have been having issues because I was opening the `ios/` folder instead of the `.xcodeproj` file in Xcode ¯\_(ツ)_/¯

Thanks so much for all your attention!

[2017-06-29 18:54] #48 closed

[2017-06-30 19:44] rpastorelle opened #80 "VideoPlayer throws `EXC_BAD_INSTRUCTION`"
![screen shot 2017-06-30 at 3 42 20 pm](https://user-images.githubusercontent.com/746320/27751534-ca6ceba0-5daa-11e7-84af-d892c07416a5.png)

I'm having a difficult time using the `VideoPlayer` component (on iOS). Here is my component:

[code]

Do you know why I get this error? Could you document the usage a little better?

[2017-06-30 21:11] JBerendes commented on #75
close please

[2017-06-30 21:16] #75 closed

[2017-07-03 23:09] zachrnolan commented on #59
I'm having the same exact issue, but I'm not using cocoapods, so @matart15's fix doesn't apply. I also attempted to remove react from the react-native-video-processing package.json and I'm still getting the same error.

My app is building without errors and it's not until I open the camera library that this error comes up. If I remove react-native-video-processing, the error doesn't show up.

Any

[2017-07-03 23:27] zachrnolan commented on #59
@shahen94 Nevermind, the problem was React in the dependencies in package.json. I moved it to peerDependencies in my fork and created a PR for you: #81

[2017-07-04 15:53] zachrnolan commented on #75
For anyone searching like I was, I fixed this by adding the following to my `AndroidManifest.xml`:

[code]

[2017-07-04 16:22] zachrnolan opened #82 "[Android] Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference"
RN 0.45.1

[code]

I get a console.log for `mediaData` with a valid path to the video file. I never see the console.log for `previewForSecond`.

This works fine on iOS.

![image](https://user-images.githubusercontent.com/66614/27837161-8d6ef474-6097-11e7-975d-9a5a69bc0dd8.png)

[2017-07-04 18:04] shahen94 commented on #82
I guess your video is very short < 4sec is it right ?

[2017-07-04 18:06] shahen94 commented on #80
oh, that's so weird. Seems like your player didn't initialized yet, but it wants to set `currentTime` prop, and since player is null, `player.currentTIme()` throws an error

[2017-07-04 18:14] zachrnolan commented on #82
@shahen94 you're right, I think it was right around 4 seconds. I tried a longer video and it seems to work fine. I do notice that android doesn't give me a width/height though. I'm using a Samsung S7.

[2017-07-04 18:19] shahen94 commented on #82
do you mean that the `ProcessingManager. getVideoInfo()` doesn't give width/height ?

[2017-07-04 18:22] zachrnolan commented on #82
ProcessingManager.getPreviewForSecond will return an object with uri, width, height on iOS. However, on Android, it returns uri, but width/height are undefined.

[2017-07-04 18:25] shahen94 commented on #75
How i could forget that, ya i guess you're right.
I got an error when `gradle` sync the project, but when i build project - it built without any error. If you guys are getting an error when gradle starts sync the project - add this line to the manifest file - the gradle sync error should be fixed.

@zachrnolan if we'll add this line to the manifest of our project, can it fix gradle sync error ?

[2017-07-04 18:27] shahen94 commented on #82
Yes - that's right.
We're not sending it from native
https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L360

[2017-07-04 18:28] zachrnolan commented on #82
Got it, is this something that will be added in the future? I can close this task as it's unrelated.

[2017-07-04 18:30] zachrnolan commented on #75
@shahen94 I got the error when trying to build my project on Android `react-native run-android` after doing the initial install in the readme. It wouldn't build until I added the uses-sdk line above.

[2017-07-04 18:31] #82 closed

[2017-07-04 18:31] shahen94 commented on #82
We can if needed, it's a very simple feature, but i'll prefer to use `getVideoInfo` since it will give you what you need.

[2017-07-04 18:32] zachrnolan commented on #82
Ok, I'll check that method out for now. Thanks for your help!

[2017-07-04 19:38] shahen94 commented on #78
I'll not switch back to mp4parser, since it don't have features which can give us ffmpeg.

So seems like we need change the licence, or i need to write my own ffmpeg-android 🤒  library from scratch with MIT licence. Thanks for letting me know about this issue.

I'll keep this thread open, and will close this when i'll decide what to do with this issue

[2017-07-05 11:32] CaptAhak opened #83 "Possible to concatenate videos?"
Hi there,

is it or will it be possible to take multiple videos as input trim them and then concatenate them into one video file which can then be saved to camroll or something?

Just a question, so feel free to label it as such or close it right away if it disturbs you, but maybe it can also be seen as a enhancement idea.

Thanks in any case

[2017-07-05 14:37] shahen94 commented on #83
Hi @CaptAhak .

No - We don't have similar feature. But it's a very simple feature and you can achieve that with 30 line of code for both platforms.

Unfortunately i don't have so much free time in these days to work on it, but i'll accept PRs if someone will be able to do that.

[2017-07-05 15:55] CaptAhak commented on #83
Thanks for your answer.  I found and used to quickstart:
[https://github.com/MostWantIT/react-native-video-editor](url)
Which concatenates multiple videos. The Rep wasn't updated for a while but works nicely so far (on Android, RN Version 0.45). Next step for me is to preprocess the videos with your library and then merge them with the module above.

A PR here would probably be the more elegant wa

[2017-07-05 19:21] CaptAhak opened #84 "ProcessingManager Android Error"
Hi,

I am trying to use the ProcessingManager exactly as described in the example, but I am getting the following error:

Not sure what to make of that. I am on Android, RN Version 0.45. react-native run-android builds the app without problems, but as soon as I try to call any function of the ProcessingManager, I get the the above error.

[2017-07-05 20:55] shahen94 commented on #84
[code]
Please import processing manager as mentioned above

[2017-07-05 20:56] shahen94 commented on #84
Please take a look example

[2017-07-05 22:14] CaptAhak commented on #84
You are right. Sorry, what I did was:
import ProcessingManager from 'react-native-video-processing'``

Been glaring over the example again and again but didn't notice I was missing the parentheses.

Thank you!

[2017-07-05 22:14] #84 closed

[2017-07-07 10:33] shahen94 commented on #83
Correct - Open Trimmer.java file, and you'll see the main processing methods there (android).
For iOS the main processing methods are located in RNTrimmerManager.swift file

[2017-07-10 07:15] kesha-antonov commented on #78
Hey guys! @mannol @shahen94

Please clarify.

If we use ```ffmpeg``` in ```react-native-video-processing``` then Can we use ```react-native-video-processing``` in commercial (not open sourced projects)?

[2017-07-10 07:30] kesha-antonov commented on #78
Or the problem is not in the ```ffmpeg```? https://video.stackexchange.com/questions/14802/can-i-use-ffmpeg-in-a-commercial-product

Problem in ```ffmpeg-android-java```. Correct? https://github.com/WritingMinds/ffmpeg-android-java/blob/master/LICENSE.GPLv3

[2017-07-10 07:34] shahen94 commented on #78
Problem is in `ffmpeg-android-java` . We can use this library in private projects,  as i understand.

[2017-07-10 07:35] kesha-antonov commented on #78
How about Commercial and available to public (not open sourced)?

[2017-07-10 07:38] shahen94 commented on #78
It should be fine, just this library(and forks) can't be developed in private repositories.
But i'd like to see what will say @mannol

[2017-07-10 07:52] kesha-antonov commented on #78
If I understand correctly.

1) If we use ```ffmpeg-android-java``` -> then ```react-native-video-processing``` must be re-licensed under GPLv3.
2) If we use ```react-native-video-processing``` (which will be with GPLv3 license) -> then that Commercial project must be licensed under GPLv3 too.

Correct? @mannol @shahen94

[2017-07-10 07:54] kesha-antonov commented on #78
If that is correct I'm going to write code that allow ```react-native-video-processing``` to work without ```ffmpeg-android-java```...

[2017-07-10 09:27] shahen94 commented on #78
@kesha-antonov how you're going to do that ?

[2017-07-10 09:30] kesha-antonov commented on #78
I'm not sure now.
But I think it's necessarily. I propose to join our forces and make it

It's just a binary ```ffmpeg``` that needs to be executed. Seems like not so difficult task

[2017-07-10 11:45] kesha-antonov commented on #78
I'll try to do some dummy implementation. And then we all we'll do something better

Now I'm trying to build ffmpeg with https://github.com/cisco/openh264 instead of x264. It's free. For x264 we have to pay for license. 🤕

I'll return once I'll make progress with this. Maybe in other issue/PR

[2017-07-10 14:20] mannol commented on #78
@kesha-antonov yes, you are correct: `ffmpeg-android-java` is the problematic code. If you remove that, you can use ffmpeg in your code as long as you comply with the ffmpeg's [guide for using ffmpeg in commercial applications](https://www.ffmpeg.org/legal.html). AFAIK `ffmpeg-android-java` is **convenience wrapper** over ffmpeg which _simplifies instalation of ffmpeg for android applications_. Cr

[2017-07-10 15:31] kesha-antonov commented on #78
Alright.

When we have no choice. We have to do those 2 tasks I mentioned above:
1. Compile ffmpeg with openh264 (instead of libx264)
2. Put those binaries in ```react-native-video-processing``` and do dummy implementation of calling ffmpeg.

[2017-07-11 04:51] kesha-antonov commented on #78
```2. Use dynamic linking (on windows, this means linking to dlls) for linking with FFmpeg libraries.```

What this means to us?
https://www.ffmpeg.org/legal.html

[2017-07-11 04:56] kesha-antonov commented on #78
```13. Remove any prohibition of reverse engineering from your EULA.```

Is it OK for us?

[2017-07-11 07:49] CaptAhak commented on #78
Hi, since GPUImage is used on the iOS Side, could the following be a viable substitute for ffmpeg alltogether?
https://github.com/CyberAgent/android-gpuimage

Just wanted to throw the idea out there.

[2017-07-11 08:04] kesha-antonov commented on #78
@CaptAhak AFAIK GPUImage is not used on iOS side for crop, trim, compress video.
It's just stubbed there for future work. (or maybe for filters?). I'm using only API.

Correct? @shahen94

[2017-07-11 08:07] shahen94 commented on #78
@kesha-antonov that's correct, GPUImage is still not used on iOS side for crop, we'll use it for filters

[2017-07-11 08:07] shahen94 commented on #78
@CaptAhak i'm not sure that GPUImage have the same features which have ffmpeg

[2017-07-11 08:08] #83 closed

[2017-07-11 09:07] kesha-antonov commented on #78
The question is - What to use in android.

I was able to build ffmpeg with openh264. I will try to link it and use without ```ffmpeg-android-java```

[2017-07-11 09:12] kesha-antonov commented on #78
If there any other solution for android with Trim/Crop/Compress with Permissive License I will help to integrate it here.

[2017-07-11 09:37] mannol commented on #78
@kesha-antonov I think ffmpeg is your best bet. About the questions you asked:

That means that you are forced to link dynamically if you were to link with FFmpeg in your binary. Considering that you will **not** link FFmpeg in your binary (or any binary using react-native-video-processing) in any way but, rather, use the FFmpeg stand-alone binary, you are covered concerning that rule.

Same as ab

[2017-07-11 10:17] kesha-antonov commented on #78
@mannol
Nice. I think it's good for us.

You meant ```LGPL``` application, right? Not ```GPL```?

----
Now about binaries.

Correct me if I'm wrong:

we must have 2 binaries separately
1) App with ```react-native-video-processing```
2) ffmpeg binaries

We put binaries in ```react-native-video-processing``` in the ```assets``` directory.
And then call them from App with ```loadFfmpeg```

Where ```l

[2017-07-11 10:26] shahen94 commented on #78
We can put binaries in `libraries/ffmpeg` director - Then we should call `loadFFMPEG` in `RNVideoProcessingPackage.java` file

[2017-07-11 10:26] mannol commented on #78
LGPL is more permissive than GPL. Regardless, same rules apply. About the implementation: you will, most likely, have to use [Runtime.exec()](http://docs.oracle.com/javase/6/docs/api/java/lang/Runtime.html#exec(java.lang.String[],%20java.lang.String[],%20java.io.File)) function from java standard library to execute FFmpeg process.

Note about linking: linking several libraries in a single entity c

[2017-07-11 10:27] kesha-antonov commented on #78
OK! Thanks guys ! 👍
I'll try do it and will get back with questions

[2017-07-11 10:28] mannol commented on #78
@kesha-antonov check the edit

[2017-07-11 10:30] kesha-antonov commented on #78
Thanks! @mannol

[2017-07-12 12:18] kesha-antonov commented on #78
Hey guys.

I've built ffmpeg with openh264.
When I try to compress video with libopenh264 it gives me error: ```CANNOT LINK EXECUTABLE. library "libopenh264.so" not found page record for 0x..... was not found (block_size=16)```

Does this mean that i should put ```libopenh264.so``` in the same directory with ```ffmpeg```?
I did not found options to disable shared libs.

https://github.com/cisco/op

[2017-07-12 12:22] kesha-antonov commented on #78
I saw that libx264 was compiled with these options and worked without errors.
[code]

But I don't see these options for building openh264

Maybe I should put some other flags?

[2017-07-12 12:25] shahen94 commented on #78
Seems like you should put `libopenh264` in the project.
https://trac.pjsip.org/repos/ticket/1758

[2017-07-12 12:27] mannol commented on #78
Shared libraries should go in `libs/ ` directory (probably `android/app/src/libs/armeabi-v7a/` for react native). I think it should work even if you place it in the same directory as your binary.

[2017-07-12 12:27] kesha-antonov commented on #78
Alright! I'll try both

[2017-07-12 13:15] kesha-antonov commented on #78
Same error.

https://github.com/kesha-antonov/ffmpeg-android-java/commit/de38625d61804bb23e252636cbaa4e86b8267f9e

Any thoughts?

[2017-07-12 13:45] kesha-antonov commented on #78
Tried to put in ```node_modules/react-native-video-processing/android/src/main/jniLibs/```.
Same error

[2017-07-12 13:52] mannol commented on #78
Try to place them in `modules/react-native-video-processing/android/src/main/jniLibs/armeabi-v7a/`

[2017-07-12 13:54] kesha-antonov commented on #78
Already.
[code]

Can you help me to integrate it into ```RN-video-processing``` ?
I have ffmpeg with openh264 + libopenh264.so
It's time for task №2 - somehow integrate it here without ffmpeg-android-java

[2017-07-12 13:56] kesha-antonov commented on #78
Maybe it copies ffmpeg to some other directory where ffmpeg can't see ```*.so``` ?
https://github.com/kesha-antonov/ffmpeg-android-java/blob/master/FFmpegAndroid/src/main/java/com/github/hiteshsondhi88/libffmpeg/FFmpegLoadLibraryAsyncTask.java#L27

[2017-07-12 14:14] kesha-antonov commented on #78
Guys. Really need your help
Working on this > 24 hours already

Here's results:
1) Scripts to build ffmpeg with openh264: https://github.com/kesha-antonov/ffmpeg-android/commits/release/v0.4
2) Builds: https://github.com/kesha-antonov/ffmpeg-android-java/commits/master (ffmpeg with openh264 + .so files)
3) RN-video-processing with openh264: https://github.com/kesha-antonov/react-native-video-proce

[2017-07-12 14:25] kesha-antonov commented on #78
Here's what ffmpeg gives about license:

<img width="255" alt="screen shot 2017-07-12 at 12 54 05" src="https://user-images.githubusercontent.com/11584712/28122426-d6c14146-6726-11e7-9d3f-b743232973f4.png">

[2017-07-12 14:36] kesha-antonov commented on #78
Crop and Trim are working.
Compress (which requires openh264) does not.

So maybe better to do integration and then fix that error with shared lib.

[2017-07-12 19:12] NLebedev commented on #80
I am getting the same error. @rpastorelle did you manage to solve this?
@shahen94 any idea what it might be? At least where to look?
Thanks

[2017-07-13 05:47] kesha-antonov commented on #78
One more thing.

```RN-video-processing``` uses https://github.com/wseemann/FFmpegMediaMetadataRetriever which uses ```ffmpeg``` https://github.com/wseemann/FFmpegMediaMetadataRetriever/tree/master/gradle/fmmr-library/library/src/main/ffmpeg

Right?
Should we do some about it too?

[2017-07-13 06:00] shahen94 commented on #80
@NLebedev please try to set `currentTime=0` . I'm wondering do we have race condition or not

[2017-07-13 09:26] shahen94 commented on #78
I'm not sure, maybe @mannol can help you with that question.

@kesha-antonov i'm in vacation in these days, i'll try to help when i'll get to my computer

[2017-07-13 09:48] mannol commented on #78
Looks like `FFmpegMediaMetadataRetriever` uses FFmpeg directly (links with FFmpeg), and I've checked their FFmpeg build flags which seem to comply with guidelines provided by FFmpeg project. It's ok to use it for this project.

[2017-07-13 10:02] kesha-antonov commented on #78
Ok guys! Thanks!

[2017-07-21 12:53] kesha-antonov commented on #78
Hello @shahen94
Have you had time to try to link ffmpeg and "libopenh264.so" shared lib?

[2017-07-24 19:31] shahen94 commented on #78
Hi @kesha-antonov , sorry for slow reply.
I'm in vacation and will get back in the end of August. I'll work on this right away when i'll back to home

[2017-07-28 23:27] gcheong commented on #68
I was getting this error until I saw the video mentioned above (only followed directions on github until that point) and realized I did not do the step of adding the GPUImage.framework under Embedded Binaries shown at 2:37.

[2017-07-30 06:42] rossmartin commented on #60
@shahen94 Can you not use this library with Xcode 8.3 and higher?  I'm facing this issue and I cannot downgrade Xcode to 8.21

[2017-07-30 13:17] shahen94 commented on #60
Hi @rossmartin you should be able to use this lib with XCode 8(2, 3, etc.), Right now we're using XCode 8.3 and this works fine

[2017-07-31 02:30] rossmartin commented on #60
@shahen94 Thanks for the quick reply.  It turns out I had to add an entry to the `Objective-C Bridging Header` that points to the `${APPNAME}/Briding-Header.h` file (shown below as future reference for anyone).  I also had to set the `Swift Language Version` to 3.

![image](https://user-images.githubusercontent.com/2498502/28760596-e7498334-756d-11e7-92aa-4c47d656a9df.png)

Thanks for this library

[2017-07-31 07:10] shahen94 commented on #60
Watch the demonstration video again, don't run `react-native link` command anymore, we have swift code in this library, and react-native can't link it automatically

[2017-08-01 11:27] kesha-antonov commented on #78
@shahen94 Ok!

I think we need to add warning in the README. To people know about problem with licensing

[2017-08-01 14:22] rossmartin commented on #60
@shahen94 Thanks for the info but I never ran `react-native-link`.  The problem occurs for me because of a duplicate SDAVAssetExportSession interface in my project (I am using the `react-native-photos-framework` library).

[2017-08-14 18:22] GeoffreyPlitt opened #86 "Android native crash-- Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference"
We're seeing this on Android devices on production. One example is a Samsung SM-G930V, Android 7.0 / API 24. It happens when ProcessingManager.getPreviewForSecond() is called with a value very close to the end of the video. We suspect rounding errors or something else is causing it to try to extract a frame past the end.

Solving this bug would be nice, but even before it's solved, it should be pr

[2017-08-26 15:52] mannol commented on #78
Getting back to this issue: I solved it by using [these](https://github.com/WritingMinds/ffmpeg-android/releases/tag/v0.3.4) prebuilt binaries for ffmpeg. Just place the armeabi-v7a ffmpeg binary in assets/ directory and you will be able to run it on your android device (to make it work on emulator, choose x86 binary instead). Now, the remaining part was to just code binary execution. There are a

[2017-08-26 16:26] kesha-antonov commented on #78
@mannol but these ffmpeg binaries compiled with flag --enable-gpl

And these guys https://www.ffmpeg.org/legal.html suggest to not use this flag

What do you think?

[2017-08-26 16:35] mannol commented on #78
It's ok, using a binary executable is not the same as linking to a library. More info can be found [here](https://softwareengineering.stackexchange.com/a/289800). Please note the GPL part:

[2017-08-26 16:37] kesha-antonov commented on #78
Oh come on!
Are you sure?

This way I can use what I've built for ffmpeg-android-java 👍

[2017-08-26 16:39] mannol commented on #78
Yup, I'm positive!

[2017-08-26 16:45] kesha-antonov commented on #78
@mannol Cool! That's good news. Then I'll do implementation with old builds of ffmpeg 👍

[2017-08-26 16:46] mannol commented on #78
@kesha-antonov Great! Hope to see it in **master** soon!

[2017-08-28 05:31] kesha-antonov commented on #78
@mannol What do you think about using libx264? I think it's not free for commercial use, right? https://licensing.x264.org/en/

So if I'll include build of ffmpeg in this lib, then some people should buy license from x264, right?

[2017-08-28 09:34] mannol commented on #78
Buying licence for libx264 is required only if the user wants to use non-GPL version of the library. The code for libx264 as used in ffmpeg is covered by GPL as you can see in their official git repository [here](http://git.videolan.org/?p=x264.git;a=blob;f=COPYING;h=d60c31a97a544b53039088d14fe9114583c0efc3;hb=HEAD).

[2017-08-28 10:15] kesha-antonov commented on #78
@mannol Thanks. That's good.

[2017-08-30 07:12] kesha-antonov commented on #78
Hello @mannol
Almost done.

What do you think, can we use ```ProcessBuilder``` instead of ```Runtime.getRuntime().exec```
It seams easier to use
https://stackoverflow.com/questions/10723346/why-should-avoid-using-runtime-exec-in-java

[2017-08-30 08:53] mannol commented on #78
@kesha-antonov Glad to hear that. Yes you can use ProcessBuilder, it does the same as exec().

[2017-08-30 09:24] shahen94 commented on #86
Sorry for late reply @GeoffreyPlitt .
Can you please provide more details.

Can you please show me the Callstack ?

[2017-08-30 09:25] shahen94 commented on #80
I'm going to close this due to long inactivity. Feel free to reopen other issue if this issue still exists in the code.
Thanks

[2017-08-30 09:25] #80 closed

[2017-08-30 19:16] GeoffreyPlitt commented on #86
@zachrnolan

[2017-08-30 20:30] zachrnolan commented on #86
Hi @shahen94, I work with @GeoffreyPlitt.

Here's the callstack, let me know if you need anything else.

[code]

[2017-08-31 04:41] kesha-antonov commented on #78
Ok. Got it working.

Last thing. What of these https://www.ffmpeg.org/legal.html we should do (and include in README) to safely use ffmpeg? @mannol @shahen94

[2017-08-31 04:43] kesha-antonov commented on #78
And second. I included only ```ffmpeg``` build for ```armeabi-v7a```. Do we need to include ```x86``` build or it's a legacy?

[2017-08-31 05:05] shahen94 commented on #86
@zachrnolan @GeoffreyPlitt Thanks guys!
And how much is the length of your video file ?

[2017-08-31 08:52] #78 closed

[2017-08-31 17:58] zachrnolan commented on #86
@shahen94 it seems to be happening at any length.

[2017-08-31 20:28] mannol commented on #78
@kesha-antonov Great news! README should say that this project is using ffmpeg and point to the ffmpeg legal page. I think that's about it concerning legality of using ffmpeg.

x86 is required, for example, android emulators running x86 android build. It is not necessary to be included in the build but maybe it would be nice to point out that the build cannot be used on x86 android emulators in th

[2017-09-02 15:50] narychen opened #88 "The quality of android compression"
I just compressed a video taken by my android phone which size is 2160x3840 7.7 MB
After compression I got a video with only 502KB 370x658
The compression is too much overhead. And when you watch the video you find it lost too much frames.
On ios I use just the same parameter as the demo and it will downsize 1/3 of the raw video.
On android you see it is  1/15

[2017-09-02 16:14] shahen94 commented on #88
@narychen thanks for reporting this !
On iOS we're used bitrates to reduce video frames, but we didn't used it on android.

I have no time to work on it in these days, but if you could send the PR i'll merge right away.

Here's the example https://unix.stackexchange.com/a/38380
And starting point https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahen

[2017-09-03 11:19] mannol opened #89 "Problem with android compression"
When `width` and `height` props are used as `compress` options in `ProcessingManager.compress()`, they are parsed with decimal points to scale parameter which causes compression to fail.

The following code in Trimmer.java produces: `Copmress resolution: -> 405.0:720.0` when it should be `Copmress resolution: -> 405:720`.
[code]

`Double.toString()` simply won't cut it.

[2017-09-03 11:50] mannol opened #90 "Android compress and crop block the UI thread until the operation completes"
The UI thread is blocked because the ffmpeg command is not executed asynchronously. AsyncTask should be used to avoid this issue. @kesha-antonov

[2017-09-03 12:44] kesha-antonov commented on #90
@mannol Yes, it is. Please do PR
I'm not maintainer and I help this project as I have free time

[2017-09-03 18:41] kesha-antonov commented on #90
I'll send PR today/tomorrow

[2017-09-03 19:28] kesha-antonov commented on #89
Nice catch!

[2017-09-03 20:03] kesha-antonov commented on #89
Hey @mannol
Did you encountered issue when video wasn't trimmed? I mean you try to trim video but it remains the same. In what situations that could be?

[2017-09-03 20:05] mannol commented on #89
@kesha-antonov no. Didn't have any issues with trimming other than it too was a blocking operation.

[2017-09-03 20:12] kesha-antonov commented on #89
Ok. try this https://github.com/shahen94/react-native-video-processing/pull/91

[2017-09-03 20:33] kesha-antonov commented on #89
Sorry for spamming this thread.

@mannol What do you think - maybe we should do "copy" and "chmod" async task too? https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L540

I'm worried that when user opens app first he'll wait until ffmpeg will be copied and chmod'ed

[2017-09-03 20:47] mannol commented on #89
Yeah. Also, that should be done once only if the file doesn't exist already.

[2017-09-03 21:04] kesha-antonov commented on #89
There is check already

[2017-09-03 21:05] kesha-antonov commented on #89
Ok. I'll add async task for that later

[2017-09-03 21:05] mannol commented on #89
Great!

[2017-09-04 14:33] narychen opened #92 "FFmpegMediaMetadataRetriever.getFrameAtTime() is too slow"
Check this link https://stackoverflow.com/questions/33625764/android-ffmpegmediametadataretriever-getframeattime-is-slow

It is very very slow and CPU intensive. It should be executed in another thread or it will block the JS thread. You will feel the react-native UI is frozen.

[2017-09-04 14:37] shahen94 commented on #92
@narychen thank you for letting us to know about this!
I never experienced any issue with performance, but anyway will move it to another thread to keep UI responsive.

[2017-09-05 16:06] iMagdy opened #93 "Undefined is not an object (evaluating '_reactNatuve.UIManager.RNVideoProcessing.Constants')"
[code]

I did `npm i --save react-native-video-processing`, then followed the Manual Installation tutorial (no react-native link).

However, I'm getting this error:
![image](https://user-images.githubusercontent.com/611426/30070790-df0ac278-9264-11e7-969f-a3c93575305e.png)

Please help @shahen94 as I've tried re-installing this multiple times, but it seems `UIManager` isn't seeing `RNVideoProcessi

[2017-09-05 17:00] shahen94 commented on #93
Hi  @iMagdy !
The library written in Swift - that's why it's not easy to integrate in react-native project
Please revert all your changes and watch this Demo video.
https://www.youtube.com/watch?v=HRjgeT6NQJM&feature=youtu.be

This should help.

[2017-09-05 17:07] iMagdy commented on #93
@shahen94 Thanks for your prompt response, I've already followed this video (mentioned in my original comment above).

I'll give it another go.

However, I'd appreciate if you give me any idea on the following questions:

- How to make sure that I've really completely reverted everything?
- Is dropping the entire dir of `ios/RNVideoProcessing` into the project root is as same as manually creating

[2017-09-05 18:31] shahen94 commented on #93
@iMagdy
- just what you did for manual linking - revert all that changes(remove added files, undo included libraries)

- NO - it's not the same - you should manually create groups one by one.

[2017-09-05 20:42] MatheusParanhos commented on #93
Hi @shahen94, I'm having the same issue, I'm following you video on youtube and noticed that the same compile sources as you do. Should I add them manually? I also notice that I don't have the same imports on ProjectName-Bridging-Header.h. Can be that the causes of the errors?

[2017-09-06 05:28] shahen94 commented on #93
Definitely yes!
You should manually create groups and add imports correctly

[2017-09-06 11:13] iMagdy commented on #93
@shahen94 After reverting all changes, and creating groups manually, it finally works fine now!

Thanks a lot, I figured out the issue was dropping the entire directory instead of manually creating each group.

[2017-09-06 11:13] #93 closed

[2017-09-07 08:16] #90 closed

[2017-09-07 12:20] iMagdy opened #94 "Operation is not supported for this media"
@shahen94 I'm getting this error once I run the trim operation using either mp4 or mov videos:

[code]

`ProcessingManager` was able to successfully read the video file, and deliver accurate duration/length for the video (`getVideoInfo`), however (`trim`) is failing with the below error.

Any idea what can be the reason? Should I specify quality in the options?

![image](https://user-images.github

[2017-09-07 12:22] shahen94 commented on #94
@gevorg94 can you please  take a look at this issue ?

[2017-09-07 13:14] iMagdy commented on #94
@gevorg94 @shahen94 Does `react-native-video-processing` only support MP4 videos? Or does it also work with MOV videos on iOS?

[2017-09-07 13:16] gevorg94 commented on #94
@iMagdy can you choose video from assets library? Currently trim doesn't work for `required` assets.

[2017-09-07 14:14] shahen94 commented on #94
@iMagdy it works with MOV files

[2017-09-10 12:53] iMagdy commented on #94
@gevorg94 Confirmed, it works with document dir.

Thank you.

[2017-09-10 12:53] #94 closed

[2017-09-12 16:06] ricardofavero opened #95 "App closes when Android tries to compress"
I'm trying to compress a video on Android, but the app closes and I get this error on Android Studio when I try to do it. I read [this](https://stackoverflow.com/questions/36693887/what-is-fatal-signal-6-in-android-logcat) and it may have to do with too much work going on the main thread.
Does anyone know more details about it?

`A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 19112 (mqt_native_m

[2017-09-12 18:37] shahen94 commented on #95
hi @ricardofavero !
Can you please try to install the library from github instead of npm ?
It should be fixed in master

[2017-09-13 03:09] huowenxuan commented on #86
+1

[2017-09-13 13:18] ricardofavero commented on #95
hi @shahen94
I have the github version already

my package.json
`"react-native-video-processing": "git+https://github.com/shahen94/react-native-video-processing"`

[2017-09-13 16:11] ricardofavero commented on #95
I fixed it. My response.uri was in an incorrect format. It's working fine with the correct uri now.

[2017-09-13 16:11] #95 closed

[2017-09-13 18:41] slickdev opened #96 "Audio from video doesn't play in Video Player"
I'm not sure if this is by design or not, but my video player component does not play audio. Is there any further setup required to get audio to work?

Furthermore, once I can get audio to work, is there a way to toggle the audio on/off while the video is playing?

Thanks for the great library.

[2017-09-13 18:56] shahen94 commented on #96
Hi @slickdev - Can you please give me more details.

1. Your ReactNative version,
2. Library version
3. Platform

[2017-09-13 19:18] slickdev commented on #96
Of course @shahen94 - sorry for leaving it out initially:

react-native: 0.48.3
react-native-video-processing: 1.12.5
platform: iOS

[2017-09-13 19:25] shahen94 commented on #96
hmm i just found that `volume` prop doesn't documented.

[code]

Can you please give to `volume` prop 1 ?

[2017-09-13 19:26] slickdev commented on #96
Aha! Works now 👍

Thanks!

[2017-09-13 19:37] slickdev opened #97 "Video doesn't replay even when "replay" attribute is set to true"
react-native: 0.48.3
react-native-video-processing: 1.12.5
platform: iOS

When specifying replay={true} in my VideoPlayer component, the video still only plays once.

Update: occassionally the video will replay once and then stop. Haven't been able to determine which use-cases cause it to loop.

[2017-09-15 23:14] slickdev opened #98 "Changing resizeMode doesn't seem to have an affect on VideoPlayer"
react-native: 0.48.3
react-native-video-processing: 1.12.5
platform: iOS

I'm not sure what's happening behind the scenes here but when I alter the resizeMode attribute on <VideoPlayer /> it doesn't seem to affect the video.

The issue I'm facing is this: my app loads videos from the device, sometimes the video is landscape sometimes it's portrait. Since I've determined a fixed height for the vide

[2017-09-17 08:19] shahen94 commented on #98
resizeMode has been removed from iOS - due to some issues. But it should work on Android.
No - we're not using react-native-video. We created custom Video component to have better accesses with native APIs

[2017-09-17 08:21] shahen94 commented on #98
https://github.com/shahen94/react-native-video-processing/commit/dd3d14d010dde3e6f8f8fea18d81845cf40ccfa6

[2017-09-18 21:33] zachrnolan commented on #86
@shahen94 hey, just wanted to check in and see if you were able to find anything. Thanks!

[2017-09-20 10:24] slickdev opened #99 "Is it possible to rotate the video and save?"
Is it possible to rotate the video player and then save the video with the new rotation?

[2017-09-20 10:52] shahen94 commented on #86
Hi @zachrnolan .
Unfortunately no - @gevorg94 can you please take a look at this issue ? Might you can help

[2017-09-20 10:54] shahen94 commented on #99
Hi @slickdev .
No - there's no ability to rotate&save video.

It's a easy task for both platforms - if you're familiar with native development you can deal with this in 10min

[2017-09-20 20:27] slickdev opened #100 "Looking for example: how to programmatically change the current time on the VideoPlayer"
Hello,

I've tried figuring this out for awhile but haven't had any luck. I want to wire up logic from the tracker on the trimmer component to the play time on the video. My tracker is wired up to the video, so it displays the current time, however I want to be able to move the tracker and skip back and forth through the video accordingly. How can I achieve this?

Thanks in advance.

[2017-09-20 20:38] shahen94 commented on #100
Here's an quick exmaple(code snippet)

Please take a look at `trimmerPosition` variable
[code]

[2017-09-20 20:46] slickdev commented on #100
Thanks, I didn't realize we could have a currentTime on the VideoPlayer component. Actually what I was trying to do is the opposite of this, I wanted the trimmer to control the video. But your code helped me figure it out. Thanks again.

[2017-09-21 00:01] slickdev commented on #100
Reopened this because I keep encountering strange issues. If you don't mind, could you let me know how you'd recommend to handle this? What I want to do is have the trimmer and videoplayer on one view. When the video plays, the trimmer tracker should move with it. When the user grabs the trimmer tracker to adjust the playhead, it should change the video accordingly.

This is what my setup looks li

[2017-09-21 00:08] slickdev commented on #100
I notice that the currentTime ends up sometimes going past the endTime which is also causing strange issues.

[2017-09-21 16:48] shauravg commented on #61
I am still seeing this issue. The frame previews that are generated for the trimmer bar are very low quality and make it hard for the user to know what exactly they are trimming out.

[2017-09-21 16:49] shauravg commented on #92
@shahen94 Any ETA on this issue?

[2017-09-25 18:52] slickdev opened #102 "Clearing tmp folder - app increases in size with use"
Is the trimmer generating files in the tmp folder? My app is experiencing constantly increasing storage size with use. It went all the way up to 17GB+. I'm trying to determine if it's the video trimmer component that is the cause of this. If so, where can I find the asset path for the tmp files, so that I can delete them after use?

[2017-09-26 17:47] rad182 opened #103 "Horizontal Flip video using ffmpeg?"
Hi, is there a way to horizontal flip a video? I'm getting an un-mirrored video from the front camera.

[2017-09-26 20:48] shahen94 commented on #103
FFMPEG have such functionality
https://duxyng.wordpress.com/2013/04/07/rotateflip-video-with-ffmpeg/

But right now in the library we doesn't use this. But you can add  `flip` key for `trim` and for `compress` and open PR. I'll merge it.

Thanks

[2017-09-26 20:48] #103 closed

[2017-09-27 08:04] #102 closed

[2017-09-27 08:37] AlmogRnD opened #104 "Android app crashing ProcessingManager.compress"
My app keeps crashing when I try to run ProcessingManager.compress

Maybe my source is incorrect here is my code

[code]
Also how do you catch errors?

[2017-09-27 08:47] AlmogRnD commented on #104
Here is the error from my crash reporting

[code]

[2017-09-27 08:49] AlmogRnD commented on #104
Here is the error that I'm now getting

console.js:26 Possible Unhandled Promise Rejection (id: 0):
Error: compress error: failed. ffmpeg version 3.3 Copyright (c) 2000-2017 the FFmpeg developers  built with gcc 4.8 (GCC)  configuration: --target-os=linux --cross-prefix=/Users/kesha/Projects/ffmpeg-android/toolchain-android/bin/arm-linux-androideabi- --arch=arm --cpu=cortex-a8 --enable-runtime-cpu

[2017-09-27 09:07] AlmogRnD commented on #104
I'm closing this have it working using path and not uri

[2017-09-27 09:07] #104 closed

[2017-09-27 09:07] shahen94 commented on #104
Hi @AlmogRnD !
Your video URI isn't in correct mode - so we should check it

So what we should do:
  1. We should check if file protocol starts with `content` then parse it as URI (`URI.parse(source)`)
  2. pass it to ffmpeg in correct format https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L421

Unfortunately i have

[2017-09-27 09:32] slickdev opened #105 "Some videos appear upside down"
Some landscape videos are appearing upside down. Other landscape videos appear normal. I haven't been able to determine the difference between the two videos that is causing them to appear differently.

[2017-09-28 02:13] AlmogRnD opened #106 "Example might be wrong"
In your example and docs you have

[code]

shouldn't it be
[code]

[2017-09-28 02:18] AlmogRnD commented on #65
+1

[2017-09-28 02:22] AlmogRnD opened #107 "How do I catch errors, failures and progress"
I wanted to know if it's possible to catch errors, failures, and progress? Is there a simple code example?

[2017-09-28 02:27] AlmogRnD commented on #88
Was this ever done or fixed on Andriod?

[2017-09-28 02:55] AlmogRnD opened #108 "Compression time on Android"
I'm noticing the following behavior in compression times on Andriod if I try to compress a video that is 10 sec in length everything is fine but I try anything about 45 sec it's taking a really really long time to compress, is this how it should be?

[2017-09-28 08:01] AlmogRnD opened #109 "Con"

[2017-09-28 08:01] #109 closed

[2017-09-28 08:02] AlmogRnD opened #110 "Can't compile on iOS - error"
I can't compile on iOS getting the following error

Check dependencies

Swift is not supported for static libraries.

[2017-09-29 07:22] shahen94 commented on #110
Please check this two threads.
https://github.com/shahen94/react-native-video-processing/issues/79
https://github.com/shahen94/react-native-video-processing/issues/48

[2017-09-29 07:24] shahen94 commented on #106
Hi @AlmogRnD !
No - it shouldn't.

[2017-09-29 07:24] #106 closed

[2017-09-29 07:25] shahen94 commented on #88
No - this wasn't done yet

[2017-09-29 07:27] shahen94 commented on #108
Hi @AlmogRnD .

Yes - that's how much takes FFMPEG to convert/compress the video files.

[2017-09-29 07:27] #108 closed

[2017-09-29 07:30] shahen94 commented on #107
You can catch `progress` event - Please check the `onChange` prop of `VideoPlayer` .

There's no way to catch `Errors` - and we don't have it in roadmap.
But if you could do it - i'll merge that PR immediately

[2017-10-01 22:39] AlmogRnD commented on #107
@shahen94 I'm not using the video player but the ProcessingManager is that the same do you have simple code example with this that I can look at ?

[2017-10-02 05:08] shahen94 commented on #107
Do you want to catch `progress` in processing manager ?

[2017-10-02 05:10] mradzinski commented on #78
Sorry to bump this, but still getting ```CANNOT LINK EXECUTABLE "xxx": library "libopenh264.so" not found```. @kesha-antonov, did you include `libopenh264.so` for x86 builds after all? I actually see it under the `lib` folder of my project when running it on an emulator, but for some reason the app keeps complaining it's not there.

<img width="260" alt="screen shot 2017-10-02 at 2 08 20 am" src="

[2017-10-02 06:44] AlmogRnD commented on #107
Yes that is correct?

[2017-10-02 09:13] kesha-antonov commented on #78
No, I did not include binary for x86

[2017-10-02 11:13] shahen94 commented on #107
Hm how you want to catch the progress if video doesn't playing ?.

ProcessingManager provides some processing methods like compress/trim/getVideoPreview etc.

And returns promise - so for failures you can add `.catch()` method after `.then()`. and catch failures, but you can't get progress since video doesn't playing

[2017-10-02 13:04] mradzinski commented on #78
@kesha-antonov, I've also been trying on two ARM physical devices and I get the same exception, so I guess it's not a binary architecture issue but something related to the location of the `libopenh264.so` file. Any idea what that might be?

[2017-10-02 17:31] kesha-antonov commented on #78
I don't use emulators on android so can't help here. On real device it works OK

[2017-10-02 17:39] mradzinski commented on #78
I actually just tested it on a Nexus 6 and on a Samsung Galaxy 7 (both real devices, one sporting Android N and the other Android O) and it failed on both to locate `libopenh264.so`.

[2017-10-02 18:59] kesha-antonov commented on #78
You sure you use code from master?

[2017-10-02 19:51] kesha-antonov commented on #78
Also did you checked how to setup Android from README?
```How to setup Library```

[2017-10-03 06:02] AlmogRnD commented on #107
@shahen94 I'm using the ProcessingManager to compress my videos before I upload them as this takes some time it would be nice to have an option to listen to the progress and provider my users with a progress bar.

[2017-10-03 07:35] shahen94 commented on #107
@AlmogRnD oh gotcha - Swift have similar API, we can catch progress event.
But right now it's not provided to JS, if you familiar with native development and you could open PR with suggested changes i'll take a look

[2017-10-04 21:38] salimbutex opened #112 "No sounds in my Videoplayer..."
constructor(props) {
        super(props);
        this.state = {
            video_src:this.props.video_src,
            //video_src:'file:///var/mobile/Containers/Data/Application/208D2C67-840C-41E5-A2AE-B702B8C20213/tmp/trim.2E928204-EDE2-4F6B-8849-3C7DB2005BAC.MOV',
            currentTime:0,
            startTime:0,
            endTime:-1,
            limitSecond:7,
            rotate:false,

[2017-10-05 06:18] AlmogRnD commented on #110
@shahen94 I'm getting the following error

error opening input file '/Users/Almog/Full-Time-Employment/Construction-Cloud/RnD/CCMobileApp/node_modules/react-native-video-processing/ios/RNVideoProcessing-Bridging-Header.h' (No such file or directory)

[2017-10-05 07:20] AlmogRnD commented on #110
@shahen94 I looked at #79 and #48, I also followed the video guide but that seems outdated maybe just do a well-written doc.

But for the video file when trying to link the libs I'm missing the following files there not in the folders

 -  ICGThumbView.m
 - RNVideoTimmerBride.m

There are more, it's seems the project has changes or been updated

[2017-10-05 12:09] shahen94 commented on #110
https://github.com/shahen94/react-native-video-processing/blob/master/ios/RNVideoProcessing/RNVideoTrimmer/RNVideoTrimmerBridge.m

https://github.com/shahen94/react-native-video-processing/blob/master/ios/RNVideoProcessing/RNTrimmerView/ICGVideoTrimmer/ICGThumbView.m

Both files are exists in the project. Video demonstrates installation process correctly. Please unlink all files/remove and try aga

[2017-10-05 12:11] shahen94 commented on #112
Please add this prop to your VideoPlayer component
[code]

If you could update README.md and open PR it would be great!

[2017-10-05 12:34] salimbutex commented on #112
Hi @shahen94 , thanks man.. It worked like a magic.
I will add PR soon. btw, I am just looking for some other features. not sure... if those are available...

1. rotate issue.. if user select landscape type video. it works fine. although extra white space at top.  but if user select portrait type video.. it looks so weird. white space at left.
https://image.prntscr.com/image/E_yCz22MRXe9Hfue8pOwtQ

[2017-10-05 13:05] shahen94 commented on #112
1. Sorry man but i don't know how to fix it, we never faced with this issue before, maybe you can put some styles to fix it ?

2. Just wrap VideoPlayer component with Touchable - like this
[code]
3. I heard about this issue before and now i believe that it exists.  I don't have so much time to work on this issue in these days - Mainly i'll wait help from the community

[2017-10-06 12:22] salimbutex commented on #112
thanks again.. I fixed all as per my requirements...
1. for portrait type video, we need to use
rotate:true
but need to detect a video is portrait or landscape type by videoinfo function

2. that worked...

3. if anybody face same issue, when video gets end, just set a function to replay video by setting play :true
now, how to track video end, when currentTime and endTime gets same..

Thanks again

[2017-10-06 13:31] #112 closed

[2017-10-08 23:25] AlmogRnD commented on #110
@shahen94 I followed the video exactly, attached screenshots as you can see everything is correct but I'm still getting  "error opening input file '/Users/Almog/Full-Time-Employment/Construction-Cloud/RnD/CCMobileApp/node_modules/react-native-video-processing/ios/RNVideoProcessing-Bridging-Header.h' (No such file or directory)"

![screen shot 2017-10-09 at 10 24 01 am](https://user-images.githubus

[2017-10-08 23:29] AlmogRnD commented on #110
If I copy "RNVideoProcessing-Bridging-Header.h" to the requested folder from the error I get 62 errors on build attached screenshot. Is this package fully working on iOS?

![screen shot 2017-10-09 at 10 29 01 am](https://user-images.githubusercontent.com/169507/31322103-b55367b8-acdc-11e7-8415-8682ace73f77.png)

[2017-10-09 01:08] AlmogRnD commented on #110
OK I got past the build errors, the core issue is that you can't run react native link, which is somewhat problematic if you add new packages that require this. Closing this for now

[2017-10-09 01:08] #110 closed

[2017-10-09 01:21] AlmogRnD opened #113 "Crazy errors on iOS with compile sources"
If I added the compiled sources, based on the video instructions (attached screenshot) I got 67 errors on build attached screenshot of errors.

Compiled source
![screen shot 2017-10-09 at 12 18 57 pm](https://user-images.githubusercontent.com/169507/31322971-3b0fa79a-acec-11e7-9c82-b56a1bd0a54a.png)

Errors list
![screen shot 2017-10-09 at 12 20 14 pm](https://user-images.githubusercontent.com/169

[2017-10-09 01:25] AlmogRnD opened #114 "undefined is not an object (evaluating _reactNative.UIManager.RNVidroProcessing.Contatns)"
Getting the following error on startup up, iOS attached screenshot

![screen shot 2017-10-09 at 12 24 38 pm](https://user-images.githubusercontent.com/169507/31323024-d6a5efde-acec-11e7-9ee8-46df7296e4c6.png)

[2017-10-09 07:20] shahen94 commented on #113
Please watch this demonstration video https://www.youtube.com/watch?v=HRjgeT6NQJM&feature=youtu.be

You doesn't linked library correctly.

[2017-10-09 07:20] shahen94 commented on #114
https://github.com/shahen94/react-native-video-processing/issues/113#issuecomment-335081401

[2017-10-09 22:41] MendyK opened #115 "`react-native run-ios` crashes app"
I cleanly installed react-native-video-processing on an empty react native project. It compiles and runs when I use Xcode but crashes when I use `react-native run-ios`

[2017-10-10 07:17] AlmogRnD commented on #113
@shahen94 Hi, I watched the video again twice and followed it step by step. I'm getting 67 errors on a build for iOS. Pretty sure something with the package. I'm using new Xcode version and when selecting linked frameworks and libraries it's IOS 11.0 and I noticed in the video it's a different version have you tested on this version with the latest Xcode.

[2017-10-10 07:30] AlmogRnD commented on #113
Attached screenshots, as you can exactly like the video
![screen shot 2017-10-10 at 6 25 49 pm](https://user-images.githubusercontent.com/169507/31374254-f4221d60-ade8-11e7-9af9-d6ba1207301c.png)

![screen shot 2017-10-10 at 6 26 55 pm](https://user-images.githubusercontent.com/169507/31374268-fa5339a8-ade8-11e7-85fc-7d1ad7f7c95c.png)

![screen shot 2017-10-10 at 6 26 47 pm](https://user-images.gi

[2017-10-10 07:30] AlmogRnD commented on #113
The Errors:
![screen shot 2017-10-10 at 6 27 51 pm](https://user-images.githubusercontent.com/169507/31374290-15ae3b76-ade9-11e7-904f-a567e746c99d.png)

![screen shot 2017-10-10 at 6 28 00 pm](https://user-images.githubusercontent.com/169507/31374294-180c135c-ade9-11e7-8ce1-c0983234478d.png)

[2017-10-10 08:07] shahen94 commented on #113
Which react-native version you're using for ?

[2017-10-10 08:08] shahen94 commented on #113
you should attach `React` prefix for your all imports

instead of
[code]
your should import it like this
[code]

[2017-10-10 08:12] shahen94 commented on #115
how you're linked this into your app ?

[2017-10-10 09:18] AlmogRnD commented on #113
I'm on
"react-native": "0.48.4",
 "react": "16.0.0-alpha.12",

[2017-10-10 09:40] AlmogRnD commented on #113
I tried the following import and still getting the same errors

[code]
[code]
[code]

The errors are code errors, are you supporting the latest version

[2017-10-10 11:22] shahen94 commented on #113
Yes - we're supporting RN 0.48 . Our app is using RN 0.48 and this library together and it's working.

Sorry but i have no idea why you're getting this error, maybe @gevorg94 have some ideas ?

[2017-10-10 11:25] AlmogRnD commented on #113
Well if it was one error, I think I could understand a bit more but I'm getting over 60+ errors, across each file.

For example in `/Users/Almog/Full-Time-Employment/Construction-Cloud/RnD/CCMobileApp/node_modules/react-native-video-processing/ios/RNVideoProcessing/RNTrimmerView/RNTrimmerView.swift`

Only classes that inherit from NSObject can be declared @objc
Use of undeclared type 'RCTView'
Use

[2017-10-10 23:06] AlmogRnD commented on #113
@shahen94 Did you use react-native init to create your project?

[2017-10-11 00:01] AlmogRnD commented on #113
@shahen94 you can leave this up or close this, I removed your package and now using - https://github.com/phuochau/react-native-compress

It's just simpler and better, this would be my feedback

1. Very easy to install just react link, with your package the iOS installation is very problematic even with the video I don't think this is a long-term solution and I'm not sure it makes sense to use Swif

[2017-10-11 00:40] MendyK commented on #115
I used the steps shown in video/list

[2017-10-11 07:16] shahen94 commented on #113
@AlmogRnD You can't link this library just running `react-native link` since Swift is not supported for static libraries.

We wrote in Swift since we know Swift better than Objective-C. This is a open-source project and everyone can contribute - if someone have any ideas how to make the installation process little bit easy - please contact with me. I can see your point, I know it's hard to link iO

[2017-10-11 07:16] #113 closed

[2017-10-11 07:20] AlmogRnD commented on #113
@shahen94 I don't mind having the process but as you can see from my reports it's not working from me and followed the video exactly as it is.

[2017-10-13 12:57] rayashi opened #116 "video player doesn't show"
The getPreviewForSecond works fine.

The source of video is correct log console print this path:

file:///data/user/0/company.empower.creator/cache/VID_20171013_094636803546946.mp4

[code]

[2017-10-13 14:34] shahen94 commented on #116
Hey @rayashi !

We're not supporting relative paths for VideoPlayer right now, please use assets-library(CameraRoll) videos

[2017-10-13 14:49] rayashi commented on #116
Thank you @shahen94, but I tried change to path to cameraRoll and it is logging now

file:///storage/emulated/0/DCIM/VID_20171013_114429.mp4

but screen still blank.

ps: I'm using https://github.com/lwansbrough/react-native-camera
to record video and changed captureTarget to Camera.constants.CaptureTarget.cameraRoll.

[2017-10-13 18:56] rayashi commented on #116
I setted height of VideoPlayer and it works.

[2017-10-13 19:09] #116 closed

[2017-10-16 18:40] rayashi opened #120 "Bug onChange currentTime"
I'm trying update on screen the current time, but it seems there is a bug, sometimes the nativeEvent.currentTime is repeating the last currentTime, or even dont go to the total duration, it end before.

For example, I recorded a video with duration of 6 seconds but its loggin like this
![image](https://user-images.githubusercontent.com/1485807/31628873-b1c5ddec-b290-11e7-988c-223414acc60a.png)

he

[2017-10-21 00:56] gvillenave opened #123 "iOS build broken on RN 0.48"
I believe #122 is not backwards compatible with RN 0.48:
[code]

[2017-10-21 03:02] hoorsa opened #124 "newSource = undefined when selecting video from sd card in android"
hi (sorry for my English).
for Trim:
When i select video from internal storage everything works but when video selected from external storage undefined returned in newSource!

"/storage/emulated/0/DCIM/vid.mp4" WORKS
but
"/storage/3766-6230/Pictures/Telegram/VID.mp4" NO!

if i use:
ProcessingManager.trim(source, options)
          .then((data) => console.log(data));
i get this error:
java.io.ioexc

[2017-10-21 06:51] shahen94 commented on #124
Please try to use this version.
https://github.com/shahen94/react-native-video-processing/pull/119

We’ll merge it soon

[2017-10-21 07:01] shahen94 commented on #123
Please use https://github.com/shahen94/react-native-video-processing/commit/0d720401d969e3534182495306128c15013e35ee
Commit for now. Thanks for letting us to know about this issue.

[2017-10-21 10:44] friedolinfoerder commented on #124
I've got the same error and tried with https://github.com/kesha-antonov/react-native-video-processing, but the same error occurs.

RN: 0.47.2
Sony Xperia Z5 Android 7.1.1

[2017-10-21 12:49] shahen94 commented on #124
Guys can you please send me the stacktrace from android studio?

[2017-10-21 13:51] jayrmotta opened #125 "How to build the Android project?"
How can I build the Android project to make some changes I want?

When I try to open it with Android Studio or any gradle command I get the message:

[code]

[2017-10-21 16:41] hoorsa commented on #124
thank @shahen94 but this update does not fix the problem!
my solution:
after picking the video first copy the file to **CachesDirectoryPath** using [react-native-fs](https://github.com/itinance/react-native-fs) then pass the video file from **CachesDirectoryPath** to video processing. yes i knew this is a temporary solution but worked for me.

[2017-10-22 07:48] shahen94 commented on #125
you mean you want to open this library with android studio ?

[2017-10-23 14:19] gvillenave commented on #89
@mannol @kesha-antonov Check out #126 for a fix for the original issue here.

[2017-10-24 20:20] jayrmotta commented on #125
Yes, I did it, but I had to modify the **build.gradle** file adding the following:

[code]

Matching the `distributionUrl=https\://services.gradle.org/distributions/gradle-3.5-all.zip` on the **gradle-wrapper.properties**

This way I could build the project.

[2017-10-24 22:18] #125 closed

[2017-10-26 03:36] MendyK commented on #115
@shahen94 Any suggestions?

Thanks :)

[2017-10-26 04:16] panhna opened #127 "Attempt to invoke virtual method 'void android.graphics.Bitmap.setHasAlpha(boolean)' on a null object (Android)"
Video Infor: 11.18MB, Type: mp4
Video in side whatapp album (/storage/emulated/0/WhatsApp/Media/WhatsApp Video/xxxxx.mp4)

Any ideas with this problem?
thx

![screen shot 2017-10-26 at 11 12 53 am](https://user-images.githubusercontent.com/5246440/32034749-ad882e50-ba3e-11e7-8de2-497dda3c4525.png)

[2017-10-26 15:24] srameshr opened #128 "Feature request: Add features like timelapse, vine like loops"
This library makes an attempt at that:
https://github.com/maxs15/react-native-screcorder

[2017-11-01 01:45] samin opened #129 "react-native link"
Is there a way to automatically link the libraries with `react-native link` command in cli? Instalation seems very different from other native modules, especially in iOS, is there a reason for that?

[2017-11-03 01:41] soledaddiez opened #131 "Can't Build on iOS"
I'm using the package all good in Android, but when I try to use it in iOS I'm stack in step 6.
My project didn't have a MY_PROJECT-bridging-header.h file.

<img width="267" alt="screen shot 2017-11-03 at 2 31 15 pm" src="https://user-images.githubusercontent.com/1656260/32357816-10b2ef12-c0a5-11e7-8743-b85ff1245c24.png">

I try creating one, and now I'm getting errors:
```Swift Compiler Error ->

[2017-11-03 16:39] zachrnolan commented on #86
Hey @shahen94 @gevorg94 friendly ping to see if you guys were able to look at this yet. Thanks!

[2017-11-04 19:55] jayrmotta opened #132 "Trimmer right and left corner not being initialized on their correct place"
I'm trying to use this trimmer component but the corners are being rendered randomly along the preview images.

Sometimes the right and left corners start in the middle of the sequence of preview images, and sometimes it renders just a little bit far from the extreme corner.

I've been studying the code and suspect there is something with the `PanResponder` and `Animated.View` listener, but I'm no

[2017-11-06 20:48] soledaddiez commented on #131
I've done all the configuration again following the instructions on this [video](https://www.youtube.com/watch?v=HRjgeT6NQJM&feature=youtu.be), and it is finally working. Thanks!.

[2017-11-06 20:48] #131 closed

[2017-11-10 12:34] iMagdy opened #133 "RNVideoProcessingManager.swift is causing build to fail, after upgrading to Xcode 9"
I've recently upgraded to Xcode 9, and after that, when building, I get failures in `RNVideoProcessingManager.swift` (see screenshot below).

That's weird as I've been using the library for long time, it was working fine, never faced this issue before. Any idea? @shahen94

![image](https://user-images.githubusercontent.com/611426/32658695-e8f74cfa-c623-11e7-8d34-b46ff038131e.png)

[2017-11-10 12:35] iMagdy commented on #133
I think this maybe duplicates https://github.com/shahen94/react-native-video-processing/issues/123

[2017-11-10 12:37] shahen94 commented on #133
@iMagdy  probably you're right.
What version of RN you're using ?

[2017-11-10 12:44] iMagdy commented on #133
@shahen94 `0.47.2`

[2017-11-10 12:54] iMagdy commented on #133
I'm trying to upgrade RN and see if this will fix the issue.
Will also try upgrading RNVideoProcessing from `1.12.5` to `1.13.0`.

[2017-11-10 13:51] iMagdy commented on #133
@shahen94 upgrade seem to break other packages. Should I downgrade your lib to something lower than `1.12.5`?

[2017-11-10 13:55] shahen94 commented on #133
Yes please try to downgrade this library. Upgrading react-native probably will be little bit hard rather than downgrading this library

[2017-11-10 14:00] iMagdy commented on #133
@shahen94 Do you recommend a particular version?

[2017-11-10 14:14] iMagdy commented on #133
Build succeeded with versions:

- `react-native-video-processing`: `1.12.6`
- `react-native`: `0.47.2`

[2017-11-10 14:14] #133 closed

[2017-11-10 16:21] kk1429 opened #134 "Out of Memory in Android when calling ProcessManager.compress"
I cant seem to compress a 10 sec video using ProcessManager.compress in android.,

This is how I am trying to do it:

[code]
`this.props.navigation.state.params.videoData.path` is a string of value 'file:///storage/emulated/0/Movies/VID_20171110_191714.mp4'

This is the error I get:

[code]

[2017-11-16 07:37] hibrid opened #135 "Feature Request: Copy audio track from video"
Seems like it should be feasible to optionally output the audio track of a video to its own file since it can be removed.

Any thoughts on this? Thinking this would save me from processing the video server side with ffmpeg to copy out the track.

[2017-11-16 08:33] shahen94 commented on #135
Yes it's definitely possible.
I have no time to work on this feature in these days. But If you'll open the PR with this changes I'll merge it.

[2017-11-17 21:56] barbaragomes opened #136 "Android: VideoPlayer does not render"
Hey there,

I've being using this library for a long time and it works perfectly for iOS.

The problem is that I can't get the VidePlayer to render on android. It doesn't log or throw any exception, I just can't see the video.

The Trimmer renders just fine.

I've tried pretty much all available releases but none of them work.
Is there any requirement that I'm missing?

I'm using react-native 0.41

[2017-11-17 23:15] barbaragomes commented on #136
Got it working.

Besides having to set the height of the VideoPlayer component, I have to mount the component with the property play=true

[2017-11-18 10:46] shahen94 commented on #136
Seems like that's a bug. Great that you could get it working.
I'll mark this as a bug. Thanks !

[2017-11-18 10:47] shahen94 commented on #134
@kk1429 can you please build example app that I can reproduce it ?

[2017-11-18 10:48] shahen94 commented on #132
I'm not sure why this is happening.
On Android Trimmer view was implemented in pure JS. So examining it should be easy.

[2017-11-18 10:49] shahen94 commented on #129
We're using Swift and not Obj-C. And Swift is not supported for static libraries that's why you guys should copy reference of all files to your project.

[2017-11-18 10:49] #129 closed

[2017-11-20 05:19] vvavepacket commented on #95
@ricardofavero  is this a correct format for URI? content://media/external/video/media/22833 my app is also crashing same as yours.

[2017-11-20 13:41] vvavepacket opened #137 "how do we actually save the file to phone storage?"
I see we have this code

[code]

but, how do we get the data to be actually written as a video file in the user's phone? I'm not seeing any function of this plugin that does it? Thank you.

[2017-11-20 13:43] vvavepacket commented on #134
I also encounter the same in Android. My phone is Note 8 and I'm just trying to compress a 2 seconds video file and it throws same error as above.

[2017-11-20 20:44] shahen94 commented on #137
Please pass
[code]
If you want to save the processed video in storage.

[2017-11-20 20:44] shahen94 commented on #137
Please have a look README.md again

[2017-11-20 20:45] #137 closed

[2017-11-21 01:26] vvavepacket commented on #137
i think that is for iOS. how about for android (i think android dont have cameraroll)? thank you

[2017-11-21 02:16] vvavepacket commented on #134
i fixed the issue by removing running programs.

[2017-11-21 02:20] vvavepacket opened #138 "Android compression quality"
What is the best approach to control the video compression quality. I tried the compression, and I find the output to be still of higher quality, I wished to downgrade the quality to achieve a much smaller file size. Can you guys direct me where in java code does the compression quality parameters happen? Might help push a PR for this as well. Thank you.

[2017-11-21 07:20] shahen94 commented on #138
Hi @vvavepacket !
So we didn't use some options but we're passing it.
https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L412-L413

We need to use these options and pass it to ffmpeg. That's all. :)

[2017-11-21 18:04] gusgoose commented on #134
I'm having the same issue (Note 4) with the same error message. Removing other programmes doesn't fix the problem. If anybody has any ideas I'd be grateful.

`Error reinitializing filters!Failed to inject frame into filter network: Out of memoryError while processing the decoded data for stream #0:0[aac @ 0xb5dbf000] Qavg: 23986.367[aac @ 0xb5dbf000] 2 frames left in the queue on closingConversion

[2017-11-22 15:08] vvavepacket opened #139 "callback / updates / percentage for compressing video"
Question, is there any callback we can utilize wherein we are alerted how much percentage does the compression take? like 1%,2%... all the way up to 100%?

[2017-11-24 05:56] jiyarong commented on #134
I got the same problem

[2017-11-24 16:06] vvavepacket commented on #134
i also encounter the same issue on note 4, with bigger files (100mb). I tried a 7mb file, and it works fine. I believe this module is loading the whole video file in RAM? is it the most efficient way?

[2017-11-24 18:36] vvavepacket opened #140 "is there a way to increase cpu priority for video compression?"
I noticed that while running video compression, the CPU usage is just below 5%, which results in slower compression times. Is there a way to increase the CPU utilization to this module, so that compression time is faster? Thank you.

![image](https://user-images.githubusercontent.com/8295642/33221297-7832f8ee-d11c-11e7-9937-9a3f9a21d3cc.png)

[2017-11-24 19:17] kesha-antonov commented on #134
👍 +1

Any guesses?

[2017-11-24 19:20] kesha-antonov commented on #134
Seems like it's something with the build https://github.com/shahen94/react-native-video-processing/commit/ea10cff3df89b5367d80d1749768458b5253c9e8

[2017-11-24 20:08] kesha-antonov commented on #134
I think we should write some tests for ffmpeg to prevent bugs like this.

[2017-11-24 22:29] kesha-antonov commented on #134
I've fixed the issue.
@shahen94 Add me to colaborators or ping me when issues like this arise. Since I'm using this lib I want to know if something goes wrong before users do.

[2017-11-24 22:44] kesha-antonov commented on #134
Ok guys. This is the PR https://github.com/shahen94/react-native-video-processing/pull/141

Please check and confirm that it fixes your problems 👍

[2017-12-07 19:50] faelsolucoes opened #142 "Not located file in compress and trim (No such file or directory)"
Hello!

I use componente ImagePicker to select image/video/photo and it work, but I received the path of vídeo this component and try to use in "ProcessingManager.trim" or "ProcessingManager.compress" but result in error. I finded strange because I used in "ProcessingManager.getVideoInfo" and it worked.

Error:
Object {
  "e": [Error: compress error: failed. ffmpeg version 3.3.5 Copyright (c) 2000

[2017-12-08 10:42] somonek opened #143 "Build failed - pointing to wrong path of RNVideoProcessing-Bridging-Header.h"
### Current Behavior
I have followed the video for manual setup. When building the project I get
[code]

### Expected Behavior
Why is it pointing to the wrong path? RNVideoProcessing-Bridging-Header.h is inside RNVideoProcessing

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |  1.13.0
| react-native

[2017-12-08 12:43] shahen94 commented on #143
@somonek path should be

`ios/RNVideoProcessing/RNVideoProcessing-Bridging-Header.h` instead of
`ios/RNVideoProcessing-Bridging-Header.h`

[2017-12-08 13:14] amberv0 opened #144 "Please update the README for iOS adding following"
Please detail in the README the process of linking for iOS. Precisely, currently there is only "Import RNVideoProcessing.h into your project_name-bridging-header.h.".
Which is far from obvious for those not familiar with bridging.
Please indicate, first, what should be the contents of this file (this I found in other issues, but it took time). And still, I've followed every single instruction and

[2017-12-08 13:48] faelsolucoes commented on #142
This component not working IN RN 0.5x ?

[2017-12-08 14:10] omegatiger commented on #142
In Android, react-native 0.51 + react-native-image-picker 0.26.7, same error.

When call ProcessingManager.compress, crash in **V/MediaMetadataRetrieverJNI: setDataSource**

[code]

Call ProcessingManager.getVideoInfo is same error.

[code]

[2017-12-08 16:21] faelsolucoes commented on #142
omegatiger in your case I belive to be you path, verify the format that start uri. In my uri is igual the documentation but only works getVideoInfo, verify my uri. Other functions not works. :(

[2017-12-08 17:44] amberv0 commented on #134
I just stumbled upon this issue. Installed the lib from npm today. Have the changes been published to npm? In my case it's a 2 sec long video

[2017-12-08 17:48] somonek commented on #143
@shahen94

That's what I can't figure out, I'm not setting that anywhere. Where do I need to update that path?
Thanks in advance

[2017-12-08 18:40] somonek commented on #143
@shahen94
started fresh with the instructions in #144 and it's not happening anymore.

[2017-12-08 18:40] #143 closed

[2017-12-08 19:06] somonek opened #145 "Cannot read property 'Constants' of undefined"
### Current Behavior
I have a CRNA ejected app. I've followed the video for setting up the project, also including the instructions in #144 otherwise there are more issues.
<img width="307" alt="screen shot 2017-12-08 at 19 48 55" src="https://user-images.githubusercontent.com/6585949/33780391-dc8924dc-dc50-11e7-9816-e33744268b30.png">

and it compiles with these errors
<img width="633" alt="scree

[2017-12-08 21:26] shahen94 commented on #134
@amberv0 please use sources from the master branch

[2017-12-10 21:24] wassgha opened #146 "[Feature Request] Reversing a video"
Is there any easy way to implement reversing a video in both iOS/Android? I am totally willing to code this feature if pointed in the right direction!

[2017-12-11 09:38] amberv0 commented on #115
Just ran into the same issue. Everything runs smoothly when Cmd+R with XCode, yet crashes when run wirth `react-native run-ios`. First tried with 1.12.7 version from npm, now from the master branch.

[2017-12-11 09:47] amberv0 commented on #134
@shahen94 , confirming that it works properly with the version from master :)

[2017-12-12 04:41] gvillenave commented on #123
Any idea when we could fix this? I'm not really familiar with the iOS changes so I'm afraid I won't be much help for a PR.

[2017-12-12 06:53] gvillenave commented on #142
I'm seeing the same thing as @omegatiger, but I'm still on RN 0.48. Any ideas?

[2017-12-12 07:54] shahen94 commented on #142
If your video should be loaded over internet then you should first download that video then call compress method

[2017-12-12 07:54] shahen94 commented on #142
I'm not sure how to process this souce
`content://com.google.android.apps.photos.contentprovider/-1/2/content%3A%2F%2Fmedia%2Fexternal%2Ffile%2F442/ORIGINAL/NONE/1988160128`

[2017-12-12 10:48] omegatiger commented on #142
Hii @shahen94 ,

My knowledge is limited on the subject, but I used the react-native-fetch-blob class, where they made an implementation to get the absolute url from the file.

https://github.com/wkh237/react-native-fetch-blob/blob/6bde5167b435e23e334377aa3bb62e8cf7c7e188/android/src/main/java/com/RNFetchBlob/Utils/PathResolver.java

I do not know if this is really the problem.

----------

Using

[2017-12-12 12:04] faelsolucoes commented on #142
Hi @shahen94 ,

I use packeges ImagePicker and DocumentPicker of EXPO to get files local, but next select the file this module sends the video to directory created by module. I beleve that not have permission to access. But is very strange that function getVideoInfo located file return yours informations, already for functions trim end compress sayed not found this file.
Functions are all of the m

[2017-12-12 13:28] amberv0 commented on #144
And one more thing that should be added to the text version of the manual. Otherwise having issues with running on real device, while on simulator everything is fine.

After adding frameworks to `Linked Frameworks and Libraries`, the next step is to add exclusively the `GPUImage.framework` under `Embedded Binaries` (shown at 2:37 of the video). Since it's only GPUImage that needs to be added, it's

[2017-12-12 13:31] amberv0 commented on #145
Have you added the GPUImage.framework under Embedded Binaries ? Just to make sure :) Though it's unlikely to solve the issue anyway.

[2017-12-18 04:43] faelsolucoes commented on #142
Hi @shahen94 ,

I resolved my problem using package "DocumentPicker" of EXPO to select my video and next I used package "react-native-get-real-path" to get path real. With the path real I used in your package and all works it.

Thanks

[2017-12-18 04:43] #142 closed

[2017-12-19 03:08] vvavepacket commented on #134
version 1.13.0 does not contain the fix, how do we move the fix  to version 1.14.0

[2017-12-22 03:49] vvavepacket commented on #144
On Xcode 9, I could not see neither Objective-C Bridging Header nor Swift Language Version

![image](https://user-images.githubusercontent.com/8295642/34284585-1c6c5c0e-e6a1-11e7-9dc9-b3f2314e4dc6.png)

![image](https://user-images.githubusercontent.com/8295642/34284571-03b2d7d8-e6a1-11e7-88a4-bf02c1032617.png)

Please help

[2017-12-22 16:10] gusgoose opened #147 "How to cancel compression mid-way through"
Is there any way built-in to allow video compression to be stopped when it's mid-way through? I can't see it in the docs but thought it might be in there somewhere.

[2017-12-22 17:15] vvavepacket commented on #144
Solved the issue. I need to create an empty swift file for those options to be enabled.

[2017-12-22 18:41] vvavepacket commented on #123
@gvillenave  do you have any temporary workaround? i also encounter this

[2017-12-22 19:12] gvillenave commented on #123
@vvavepacket No unfortunately I'm still stuck on commit https://github.com/shahen94/react-native-video-processing/commit/0d720401d969e3534182495306128c15013e35ee until I can upgrade to RN 0.49+

[2017-12-27 20:01] gyetvan-andras commented on #136
It does not work for me too. It errors out on Android (on iOS works just fine) as follows:
`
java.lang.ClassCastException: com.shahenlibrary.VideoPlayer.VideoPlayerView cannot be cast to android.view.ViewGroup
	at com.facebook.react.uimanager.NativeViewHierarchyManager.manageChildren(NativeViewHierarchyManager.java:320)
	at com.facebook.react.uimanager.UIViewOperationQueue$ManageChildrenOperation.

[2017-12-28 11:36] shahen94 commented on #136
Hi @gyetvan-andras !
Probably you're trying to pass some child to VideoPlayer which doesn't support.

[code]

[2017-12-28 11:41] gyetvan-andras commented on #136
Yes, I have children for playback controls :) Thanks to point it out, this will be an easy fix. What makes me wonder, how does it work perfectly on iOS?

[2017-12-28 12:11] shahen94 commented on #136
iOS `ReactView` is completely different.
You can pass everything as a child for every native component.

But on android - if we want our component to accept child component - our component should be extended from `ViewGroup` and not from `View`

https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/VideoPlayer/VideoPlayerView.java#L58

[2017-12-28 12:54] gyetvan-andras commented on #136
Thanks for the clarification!

[2017-12-28 16:35] gyetvan-andras commented on #136
Works like a charm after reorg. my UI. Big thanks for your guidance!

[2018-01-03 22:29] gvillenave commented on #92
Why was this closed? @narychen if you fixed it on your side could you please submit a PR?

[2018-01-04 10:58] xMajestic opened #148 "How to set link url in videoplayer component?"
Hello, now i'm using react-native-video-processing but i cant render video with source link
-- My issue
![capture](https://user-images.githubusercontent.com/35099285/34560505-8d7d466a-f178-11e7-9679-ecee33bc4692.PNG)
-- My link URL
![capture1](https://user-images.githubusercontent.com/35099285/34560514-94d26526-f178-11e7-9540-a0d28793f996.PNG)
-- VideoPlayer component
![capture2](https://user-imag

[2018-01-04 11:49] shahen94 commented on #148
Your link should point local video and not remote.

Try to download the video and pass local URI to Video component.

[2018-01-04 11:49] #148 closed

[2018-01-05 23:38] gvillenave commented on #88
@shahen94 can you reopen this issue? I'm going to try making a PR.

[2018-01-07 19:01] vvavepacket commented on #134
issue still persists on Android Jellybean

`9.556 2947-3001/? I/ReactNativeJS: { [Error: compress error: failed. /data/data/com.sample.prod/files/ffmpeg[1]: syntax error: '��4��4' unexpected] framesToPop: 1, code: 'EUNSPECIFIED' }`

[2018-01-10 13:09] kesha-antonov commented on #146
Android: https://video.stackexchange.com/questions/17738/how-to-use-ffmpeg-command-for-reverse-video

[2018-01-11 07:41] VrajSolanki commented on #127
@panhna did you get any solution? I am facing this error for the trimmer.

[2018-01-11 08:04] VrajSolanki commented on #95
@shahen94 what is the correct format for video path in android?? My path is something like @vvavepacket
eg: content://media/external/video/media/62681 and the app seems to crash

[2018-01-14 11:20] dioxide commented on #145
i have same problem

[2018-01-18 21:47] maxhalty commented on #113
+1

[2018-01-20 15:22] WillyRamirez commented on #145
Any update on this?

[2018-01-20 15:44] WillyRamirez commented on #143
I followed the steps in #144 from the beginning and i still get this error. I never set any path to
`ios/RNVideoProcessing-Bridging-Header.h` and i wouldn't know where to change it

[2018-01-20 18:34] shahen94 commented on #145
Dublicate https://github.com/shahen94/react-native-video-processing/issues/93

[2018-01-20 18:34] #145 closed

[2018-01-21 08:12] masseyl commented on #144
I have the same issue - to the extent that I have to find another solution. That's a shame...

[2018-01-21 14:16] WillyRamirez commented on #93
@shahen94  could you please comment on how many bridging files you have?
xcode created one for me in the RNVideoProcessing folder after creating the first group, and i manually created the one in my project name as seen in #144. However im still getting this error. I followed all the other steps from the video.

[2018-01-22 20:53] gvillenave commented on #86
Any update on this issue? I'm seeing the same crash in production as well.

[2018-01-23 07:26] shahen94 commented on #86
Guys, I'm not sure why this is happening.
This could happen only when you're trying to get preview image for a second which is greater than the length of Video.

To have a temporary solution, you could add check in this line.

https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L527

[code]

[2018-01-25 06:06] NorthNothing opened #150 "Questions about android compression"
When I use
ProcessingManager.compress(source, options)
              .then((data) => console.log(data));
Will be output
Error: compress error: failed. ffmpeg version 3.3.5 Copyright (c) 2000-2017 the FFmpeg developers  built with gcc 4.8 (GCC)  configuration: --target-os=linux --cross-prefix=/Users/kesha/Projects/ffmpeg-android/toolchain-android/bin/arm-linux-androideabi- --arch=arm --cpu=cortex-a

[2018-01-26 13:32] panda919 commented on #115
I have same issues, app is crashed , when  when run wirth react-native run-ios.

[2018-01-30 14:14] Lichwa commented on #150
I'm having the same issue. I guess it all comes down to
```Out of memoryError while processing the decoded data for stream ```

[2018-02-01 06:50] superandrew213 commented on #144
@amberv0 can you create a PR with those additions. Im sure @shahen94 would be happy to accept it.

[2018-02-01 19:17] shukerullah commented on #142
I am using `react-native-image-picker` too, and it return path which is not readable for `ProcessingManager.compress`. Any solution @shahen94 @faelsolucoes ?

Here `react-native-image-picker` response
[code]

[2018-02-02 19:28] faelsolucoes commented on #142
Hello shahen94,Use component react-native-get-real-pathto get real Path.You need to use in Android after receive return ImagePicker.showImagePickerExample: let newUri = await RNGRP.getRealPathFromURI(response.uri);In iOS is not necessary.Good workRafael DornelesEm 1 de fev de 2018 5:17 PM, Pir Shukarullah Shah <notifications@github.com> escreveu:I am using react-native-image-picker too, and it ret

[2018-02-06 04:35] jesperlndk commented on #134
Facing the same issue. Tried out the master branch, as @shahen94 mentions a few comments up, (latest commit as of writing: f57addffcf94c97255f7622bfc18ceec53d644ed) and bug is still there: app is crashing on Android with an "out of memory" exception.

Full crash log:

`Error: compressing image - compress error: failed. ffmpeg version 3.3.5 Copyright (c) 2000-2017 the FFmpeg developers  built with

[2018-02-06 06:38] jesperlndk commented on #134
@shahen94 @kesha-antonov maybe this issue should be reopened?

[2018-02-06 07:15] julien9999 opened #152 "how to crop video square"
Hi Shahen, seems like a great module.
I got it to work with the example you gave.
Could you please point out how to compress the video in order to allow a video taken from the camera to be cropped square?
Thanks again

[2018-02-06 09:11] shahen94 commented on #152
Hi @julien9999
As I know @kesha-antonov  made PR to which allows cropping the video. Maybe he can help you

[2018-02-07 00:44] gvillenave opened #153 "[Android] Invalid int exception thrown in getVideoInfo"
Commit a0ec4fd88ab8086364bab60510b277ee825de03a broke the getVideoInfo behavior on Android, since the frame rate is not always an integer, we should use parseDouble instead of parseInt. I will try to find the time to submit a PR to fix this, but that might take a while so if someone else has time that would be great too :)

[2018-02-07 08:22] shahen94 commented on #153
Thanks @gvillenave. Good catch !

[2018-02-07 13:22] davidpaulsson commented on #115
Can confirm this is a real thing. App crashes directly at boot unless you build from Xcode.

[2018-02-07 18:49] kesha-antonov commented on #134
Hey guys. Don't have time for this now.
You can try build new ffmpeg with https://github.com/kesha-antonov/ffmpeg-android

See my latest PRs to this repo: https://github.com/shahen94/react-native-video-processing/pull/141/files

[2018-02-09 05:45] doodlewind commented on #144
@amberv0 can these setup steps being automated by `react-native link` after `npm install`?

[2018-02-10 13:12] jolinkomo-code commented on #113
I have the exact same problem!

[2018-02-15 09:41] jolinkomo-code commented on #137
I agree. android is also needed

[2018-02-15 19:42] amberv0 commented on #115
Just wanted to report that somehow I got it fixed (if only I could remember how...), so don't lose hope - there is a way :)

[2018-02-16 06:57] #152 closed

[2018-02-16 06:57] shahen94 commented on #150
Are you using the github version instead of npm version ?

[2018-02-16 06:59] shahen94 commented on #147
There's no way to cancel compression or trim

[2018-02-16 07:00] shahen94 commented on #140
Right now No, Unfortunatelly there isn't a way to do so.

[2018-02-16 07:01] shahen94 commented on #139
It's so easy to implement, especially for android with FFMPEG.

[2018-02-16 07:02] #138 closed

[2018-02-16 07:02] #136 closed

[2018-02-16 07:05] shahen94 commented on #132
Closing this due to long inactivity

[2018-02-16 07:05] #132 closed

[2018-02-16 07:05] #124 closed

[2018-02-16 07:06] #123 closed

[2018-02-16 07:07] shahen94 commented on #120
Closing this due to long inactivity

[2018-02-16 07:07] #120 closed

[2018-02-16 07:07] #114 closed

[2018-02-16 07:08] #107 closed

[2018-02-16 07:08] shahen94 commented on #105
Closing this due to long inactivity

[2018-02-16 07:08] #105 closed

[2018-02-16 07:09] shahen94 commented on #100
Closing this due to long inactivity, probably this issue has been fixed in the master branch.
Thanks

[2018-02-16 07:09] #100 closed

[2018-02-16 07:09] #98 closed

[2018-02-16 07:10] shahen94 commented on #97
Closing this due to long inactivity, Probably this issue has been fixed in the master branch

[2018-02-16 07:10] #97 closed

[2018-02-16 07:11] shahen94 commented on #77
Closing this due to long inactivity, Probably this issue has been fixed in the master branch

[2018-02-16 07:11] #77 closed

[2018-02-16 07:11] shahen94 commented on #70
Closing this due to long inactivity, Probably this issue has been fixed in the master branch

[2018-02-16 07:11] #70 closed

[2018-02-16 07:12] shahen94 commented on #68
Closing this due to long inactivity, Probably this issue has been fixed in the master branch

[2018-02-16 07:12] #68 closed

[2018-02-16 07:12] shahen94 commented on #65
Closing this due to long inactivity, Probably this issue has been fixed in the master branch

[2018-02-16 07:12] #65 closed

[2018-02-16 09:13] gusgoose commented on #147
Understood. Thanks for the reply.

[2018-02-16 09:13] #147 closed

[2018-02-16 14:41] davidpaulsson opened #155 "Trimmer thumbnail flicker"
### Current Behavior
Thumbnails in the trimmer component updates and flicker on render. [See video.](https://www.dropbox.com/s/13qq8klg6q5pyiz/trimmer-flicker.mp4).

### Expected Behavior
Thumbnails in the trimmer component load once and don't flicker.

### Your Environment

| software | version
| - | -
| react-native-video-processing  |  1.13.0
| react-native |  0.53.0
| node | 8.9.1

[2018-02-18 01:02] JoshM1994 commented on #146
I have a branch implementing this feature currently. Android is working (but needs some cleanup). Working on the iOS implementation tomorrow

[2018-02-18 05:27] kesha-antonov commented on #146
Awesome! @JoshM1994

[2018-02-18 17:26] JoshM1994 commented on #144
@doodlewind - I can't comment on whether they can be automated but what I can say is that currently using `react-native link` will try and link the project and end up breaking it (for me at least). I had to undo this change with `react-native unlink react-native-video-processing`

[2018-02-19 09:00] JoshM1994 commented on #146
And the iOS branch - hardly my neatest work but first time experimenting in swift. Any feedback very welcome: https://github.com/shahen94/react-native-video-processing/pull/157

[2018-02-19 11:14] shahen94 commented on #146
@JoshM1994 looks pretty good, there are some cases where instead of calling print, we also should notify about failure to JS callback.

Looks really great! Thanks.

[2018-02-19 13:48] kesha-antonov commented on #146
Nice! Waiting to test it 😄

[2018-02-19 21:12] shahen94 commented on #146
Merging  PR.

Guys, well done !

[2018-02-22 20:36] friedolinfoerder commented on #153
I've got the same issue. What's the current state of this? Is there a workaround or alternative version I can use?

[2018-02-23 16:22] FacuAcosta commented on #113
Okay, I spent 2 hours trying to get this to work, so I'll post what I've done, not sure If I'm missing something because I was really mad. If you followed the video, you should have a `<Project-Name>_Bridging_Header.h` file under `ProjectName/ProjectName` . This file, as stated above, should contain the next data:

[code]

Under Build Settings under your project, you need to set the following flag

[2018-02-26 04:40] #146 closed

[2018-02-27 10:10] Niveditha29 opened #158 "Problem while fetching PreviewImageForSecond in Android"
I am trying to fetch the image for given second, using below code:

const source = require("./src/assets/video.mp4");

 ProcessingManager.getPreviewForSecond(source, second, maximumSize)
            .then(data => {
                console.log("This is BASE64 of image", data);
                var base64Icon = "data:image/jpeg;base64," + data;
                this.setState({ base64String: base64Icon

[2018-02-28 14:24] #158 closed

[2018-03-01 01:58] evilexus opened #159 "** BUILD FAILED ** compileSwift normal x86_64"
I followed the installation to the letter as it says in the video and uninstalled and installed 3 times, I have in "swift language version" 3.2, because if I put it has something different I have an error in the swift version, even though I can not compile the project, AppTestVideo-Bridging-Header.h creates it manually, and in "GPUImage" it appears marked in red, sorry for my bad English

<a href=

[2018-03-01 10:29] Niveditha29 commented on #150
Facing same issue, any update? I'm using npm version.

[2018-03-01 17:05] amberv0 commented on #144
@shahen94, do you want me to make a PR with these additions to the README?

[2018-03-04 11:50] shahen94 commented on #144
@amberv0 That would be great. Thanks

[2018-03-04 17:24] Jignesh85 opened #160 "react-native 0.54: FileNotFoundException in android video player"
In android, VideoPlayerView class, getting fileNotFoundException

[code]
I have tried with different media source urls e.g. https://dl.dropbox.com/video_name.mp4.

The above function, calls below code in FFmpegMediaMetadataRetriever that causes exception:

[code]
In IOS, everything works fine, but in android am struggling with correct path of url to pass.

Javascript code:

[code]
Added Permission

[2018-03-05 06:55] shahen94 commented on #160
Hi @Jignesh85 .
Currently, this library doesn't have an ability to load video over the internet. You should have it locally in your phone.

[2018-03-05 17:05] Jignesh85 commented on #160
Hi @shahen94
I have tried with local video url:

`source={require('./resources/video_name.mp4')}`

I am still getting same error in both physical device and emulator.

[2018-03-06 14:20] maxhalty commented on #86
I'm having the same problem here. Have anyone find a solution?

[2018-03-07 05:20] superandrew213 opened #162 "Inconsistency between iOS & Android"
Is there a reason why iOS returns string `path` and android returns object `{ source: path }` for `ProcessingManager.compress()`? Looks like it's the same for the other methods.

https://github.com/shahen94/react-native-video-processing/blob/master/android/src/main/java/com/shahenlibrary/Trimmer/Trimmer.java#L167

[2018-03-07 19:41] #153 closed

[2018-03-07 21:54] vs-lance commented on #144
I have followed these instructions TO THE LETTER and am still getting

Seriously...?

[2018-03-08 09:19] JoshM1994 commented on #144
@vs-lance

1. I have `AppName_Bridging_Header.h` inside `AppRootDir/ios/HERE`
2. Can't answer that I'm afraid - not an Objective-C dev - but it seems to work
3. Looking at the Github source code, the file appears to be [in the correct directory](https://github.com/shahen94/react-native-video-processing/blob/master/ios/RNVideoProcessing/RNVideoProcessing.h). Same result when I `npm install` a fresh

[2018-03-08 17:43] vs-lance commented on #144
Thanks!

I did cleaning as well as undoing react-native link. I'm starting with a
clean project this morning, because I think the issue is related to another
package which uses CocoaPods to install its dependencies. And I think they
might be clashing somehow. If I learn anything useful I'll be sure to let
everyone know!

On Thu, Mar 8, 2018 at 1:19 AM, Josh Mustill <notifications@github.com>
wrote

[2018-03-09 07:34] zootopia106 commented on #159
I am also faced with the same error.

[2018-03-09 09:39] davidpaulsson opened #163 "<Trimmer> rendering issues with tracker and thumb handles"
### Current Behavior
- Tracker handle placement is off
On load and `<Trimmer currentTime={0} thumbWidth={16} />` it shows the tracker handle to the right of where it should be when using the thumbWidth property.

- Trimmer renders video preview off compared to the draggable "thumbs"/"handles" on each side
The video preview starts and ends, on the right of each handle. But the handles are on top of

[2018-03-09 11:47] KamalKanal opened #164 "Cannot compress video size (expected dynamic type 'double',but had type 'object')"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2018-03-09 11:49] KamalKanal commented on #164
expected dynamic type 'dobule', but had type 'object'

[2018-03-09 11:53] KamalKanal commented on #150
Facing ( expected dynamic type 'double', but had type 'object') error

[2018-03-09 17:51] shahen94 commented on #164
Please complete the description. Closing this.

Feel free to open a new issue and fill the required information.

Thanks

[2018-03-09 17:51] #164 closed

[2018-03-09 17:53] shahen94 commented on #163
Good catch @davidpaulsson !

Right now have no time to work on this. I'll try to find a time fix this in next week.

Thanks.

[2018-03-12 00:48] vs-lance commented on #144
It seems there is a conflict with react-native-image-crop-picker (ICP) which strongly encourages using cocoapods for its installation. I was starting from a fresh react-native init which installed RN 0.54, but ICP's cocoapods scripts insisted on RN 0.52 - and somewhere in this process a conflict arose with RNVideoProcessing.

Creating a brand new RN app and only installing RNVideoProcessing (again

[2018-03-12 09:35] amberv0 commented on #144
@vs-lance , I successfully installed both, though I have RN 0.52. I used pods for react-native-image-crop-picker and manual installation for RNVideoProcessing

[2018-03-12 16:09] vs-lance commented on #144
Interesting. I actually installed both successfully about 2 - 3 months ago with RN 52.. Maybe the issue is with RN 54, or maybe it's the order I did things this time(I installed rn-image-crop-picker first), or maybe there's gremlins...

[2018-03-15 12:23] jeffreyhaen commented on #144
@vs-lance Did you found any solution to make this package work on RN 54? I keep getting problems with the RNVideoProcessing.h file. First it couldn't find the file, after some changes it started yelling about compile errors in the GPUImage framework...

[2018-03-15 15:18] vs-lance commented on #144
Two ways worked for me. One was to start with a totally clean app and
install RNVideoProcessing first. Then never ever use cocoa pods or 'react
native link' without a package name.

The other was to start with RN52 follow the above process, then
'react-native-git-upgrade'

RN 54 has lots of potential, but it definitely doesn't feel ready for prime
time...

On Thu, Mar 15, 2018 at 5:23 AM jeffreyha

[2018-03-17 18:25] recepkocur commented on #150
+1

[2018-03-17 18:35] recepkocur commented on #150
+1

"react": "16.2.0",
"react-native": "0.53.3",
"react-native-video-processing": "^1.13.0",

compress error: failed. ffmpeg version 3.3.5 Copyright (c) 2000-2017 the FFmpeg developers built with gcc 4.8 (GCC) configuration: --target-os=linux --cross-prefix=/Users/kesha/Projects/ffmpeg-android/toolchain-android/bin/arm-linux-androideabi- --arch=arm --cpu=cortex-a8 --enable-runtime-cpudetect --sysr

[2018-03-19 12:17] jeffreyhaen commented on #144
@vs-lance No luck so far. I've tried to make it work with a fresh RN52 and RN54 project. Followed every step in the manual and i tried multiple workarounds by including the RNVideoProcessing project. It keeps having some path issues. :(

[2018-03-25 19:20] prashantShrivastava91 commented on #113
Even after following the video, my xcode project wasn't compiling. But `react-native unlink react-native-video-processing` did the trick. Spent days on linking things, but it worked like a charm

[2018-04-04 06:48] yz-xlame opened #165 "project_name-bridging-header.h？"
Import RNVideoProcessing.h into your project_name-bridging-header.h.
I didn't find it, maybe you can tell me where it is?

[2018-04-04 08:01] #165 closed

[2018-04-08 08:58] jesperlndk commented on #86
Facing the same issue here on some Android devices (just happened on Google Pixel running Android version 8.1.0).

[2018-04-09 11:30] hhravn opened #166 "Android: Native exceptions should not crash the app."
### Current Behavior

When an exception is caused by the native code, the app crashes. The code seems to be written explicitly to reject promises in controlled error cases, crash if anything unexpected happens.

### Expected Behavior

When an exception occurs, the promise is rejected with an error, the app does not crash.

### Your Environment

react-native-video-processing@v1.13.0

[2018-04-10 23:07] dolphinflow86 commented on #150
Facing same issue here.

[2018-04-17 04:03] AaronVasquez commented on #144
Are there any updates? I haven't been able to get this to work :(

[2018-04-17 15:55] vs-lance commented on #144
I had to abandon ship. Sorry...

On Mon, Apr 16, 2018 at 9:03 PM, Aaron Vasquez <notifications@github.com>
wrote:

[2018-04-18 12:48] jeffreyhaen commented on #144
@AaronVasquez @vs-lance I got it working. The key to success was to import the folder RNVideoProcessing and the file GPUImage.xcodeproj **not** as a reference. After that i was able to compile the project. I also had to add the GPUImage library as a Embedded Binary under the general projectsettings to make it work runtime (as shown in the video).

[2018-04-18 16:43] vs-lance commented on #144
+1!

On Wed, Apr 18, 2018 at 5:48 AM, jeffreyhaen <notifications@github.com>
wrote:

[2018-05-01 07:29] ajaxmac opened #169 "npm still hosting 1.13.0"
Great work on this project!

When I run `yarn add`, my copy of `react-native-video-processing` always downgrades to 1.13.0, and then I have to manually install the latest version. by down loading from GitHub.

This repo is currently on v1.7.1.

Are you going to publish this to npm, or is there a way to make yarn always download from github?

It makes me fearful to add packages to my project, becau

[2018-05-01 07:34] ajaxmac commented on #169
I answered my own question
`yarn add github:shahen94/react-native-video-processing`

installs the correct version.

[2018-05-01 07:34] #169 closed

[2018-05-07 18:55] sunaryohadi commented on #134
Current ffmpeg only working with ARM, but it's fail on X86 (emulator).

As in https://github.com/kesha-antonov/ffmpeg-android ...
there is 3 different type of prebuilt ffmpeg.

Should it use according to our App Arch target (Arm or X86) ?

[2018-05-09 19:38] shahen94 commented on #134
@kesha-antonov

[2018-05-11 05:01] kesha-antonov commented on #134
Hey guys! Sorry, I don't use emulator so cannot help here.
We've discussed this somewhere in issues

[2018-05-16 01:14] barbaragomes opened #170 "signal 6 (SIGABRT)"
### Current Behavior
App crashes on Android when loading VidePlayer component for some videos, but works fine for other videos:

`signal 6 (SIGABRT), code -6 (SI_TKILL), fault addr --------
05-15 17:21:10.817 20034 20034 F DEBUG   :     r0 00000000  r1 00004dd8  r2 00000006  r3 00000008
05-15 17:21:10.818 20034 20034 F DEBUG   :     r4 00004da2  r5 00004dd8  r6 c7f78278  r7 0000010c
05-15 17:21:10

[2018-05-21 06:47] tchandok opened #171 "Processing times for crop?"
Hi - we're trying to build a fast way to crop an HD video on Android devices. We've built a solution using JavaCV for Android (based on FFMPEG). The resulting processing times are way too slow, 90+ seconds for a cropping a 15-second 1920x1080 video to 1080x1080 square video.

We came across this repo and were wondering what type of crop times you are able to achieve. Our applications are written i

[2018-05-22 12:16] VrajSolanki commented on #147
@shahen94 any plans on working on this??

[2018-05-22 13:47] shahen94 commented on #147
Hi @VrajSolanki.

I have no time to work on this. But if someone will open the PR - I'll accept it

[2018-05-22 15:08] shahen94 commented on #171
Hi @tchandok  and sorry for slow reply.

I never checked it and never heard from someone that cropping is slow when using this project.

[2018-05-25 06:31] shahen94 commented on #171
Thanks @tchandok !

[2018-05-25 15:43] superandrew213 commented on #171
Im getting the same numbers. 2 mins

[2018-05-25 18:00] tlays11 commented on #68
To anyone who cannot find the embedded binaries section on "Build Phases" like I could not, it is not located on the "General" tab

[2018-05-26 03:30] superandrew213 commented on #171
Seems to be the same as: https://github.com/WritingMinds/ffmpeg-android-java/issues/54

The recommended solutions seems to be to add `-preset ultrafast`, which we are already doing.

[2018-05-29 19:40] tlays11 opened #172 "GPUImageFramework conflicts with react-native-webgl"
### Current Behavior
When attempting to install when already using gl-react-native which needs dependency react-native-webgl there are two errors when building via XCode:

 - ~/node_modules/react-native-webgl/ios/framework/Source/iOS/Framework/module.modulemap:2:19: Umbrella header 'GPUImageFramework.h' not found

- ~/node_modules/react-native-video-processing/ios/RNVideoProcessing/VideoProcessing

[2018-05-30 09:19] zivids commented on #170
the same as you,but in my case is the video file error

[2018-05-30 14:39] tlays11 commented on #172
If anyone else runs into this problem, I was able to fix by forking react-native-webgl and removing the GPUImage framework and adding the RNWebGL.xcodeproj manually to the project's Libraries and adding the libRNWebGL.a to link binary with libraries build phases.

[2018-05-31 12:42] DalalAbadi opened #173 "Android compression throw error : {"framesToPop":1,"code":"EUNSPECIFIED"}"
I am trying to compress videos it's work fine with iOS but Android throw{"framesToPop":1,"code":"EUNSPECIFIED"}

 Bellow my code:

ProcessingManager.compress(this.state.videoPath, options)
        .then((newSource) =>{

        }).catch(console.warn);

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |  1.1

[2018-06-21 14:19] HreshchyshynT commented on #171
Have the same issue. For input video with duration 20 sec, processing time is 18-20 sec. `-preset ultrafast` did not help. My command is:
`-y -i input -c:v libx264 -preset ultrafast -vf crop=size:size:0:offset -tune fastdecode -c:a copy -f mp4 saveFile`
Maybe here are any updates?

[2018-06-24 15:07] Riant opened #176 "Would you like to add a podspec file for pod-install support?"
### Your Environment
For now, we integrate react native with a native project with pod, so the podspec file is import for us.

Thanks.

[2018-06-27 15:08] EugeneGlazkov opened #177 "Android ffmpeg codec only for armeabi-v7a. How add for x86?"
### Current Behavior
As I can see there is folder only for armeabi-v7a with ffmpeg
![image](https://user-images.githubusercontent.com/7100920/41982506-4943d384-7a34-11e8-872c-8ef0da2b0654.png)
I guess the following repo(https://github.com/WritingMinds/ffmpeg-android-java) is used in this lib.
and there is
![image](https://user-images.githubusercontent.com/7100920/41982691-bea3c4c2-7a34-11e8-99af-e

[2018-06-28 09:06] srameshr commented on #128
Any progress on this? @shahen94

[2018-06-28 09:52] srameshr commented on #163
@shahen94 Could you fix this?

[2018-07-06 03:13] shenyuanqing commented on #173
+1,i have the same problem

[2018-07-07 21:29] BenBrostoff opened #178 "MP4s written on trim, but 1062 bytes and error when attempting to play"
Hello - great library first off, and thanks for building this.

### Current Behavior

I can use `VideoPlayer` with a valid source and `Trimmer` renders as expected. When I invoke `trim` on the source with `startTime` and `endTime` options, I get an `.mp4` back.

I can see these `.mp4s` in my Android Emulator (Samsung 8, API 26, Android 8.0 on Genymotion) via `adb shell ls -l -t /storage/emulated/0

[2018-07-09 01:09] BenBrostoff commented on #178
Thanks for the quick response @shahen94 - this works on a real device (`NS-P08A7100` / `Android 6.0.1` - I know, it's several years old). Glad to add this as a PR if you think it's worth it - I think it makes sense to mention in the `README` or somewhere that this issue may happen on emulators.

[2018-07-09 07:32] shahen94 commented on #178
@BenBrostoff Yes you're right. Just I don't have much time to work on this project.

I'll be happy to see improvements in this project.

[2018-07-10 03:35] BenBrostoff commented on #178
Awesome, thanks again for the advice here.

[2018-07-10 03:35] #178 closed

[2018-07-16 09:17] tunguyenbhtech commented on #150
I'm also facing same issue.

[2018-07-21 09:38] roycclu commented on #176
Podspec file would be awesome. Was gonna make one myself, but your installation steps are pretty involved.
Thanks!

[2018-07-23 02:49] Riant commented on #176
@roycclu
Thanks very much, I can not wait to try.

For installation steps, just add another README-section like your "Podfile import looks like" paragraph, I think it is clear enough for pod user.

[2018-07-24 07:15] osdiab commented on #144
Hmmm I ran into this problem today, the same `node_modules/ios/RNVideoProcessing-Bridging-Header.h` not found issue (not the `AppName-Bridging-Header.h` file... I tried importing the folder not as a reference (although Idk how to do that with the `GPUImage.xcodeproj` file since dragging it into XCode doesn't prompt anything).

[code]

I'm not sure what even requires that, but if you wanna look at

[2018-07-25 11:59] jeffreyhaen commented on #144
@osdiab Instead of dragging the folder/files into your project you should try right clicking your project and choose "Add files to 'MyProjectName'...". Then click "Options" for extra settings like picking targets and if you would like to create a reference or not. That should work. :)

[2018-07-27 08:07] osdiab commented on #144
Word, tried adding them that way and still getting the same issue though. really frustrating that there isn't a clear consensus for how to deal with this issue. but maybe the presence of cocoapods in our project is a problem, guess i can try incrementally reinstalling everything with this library first (quite the pain)

[2018-07-27 08:09] osdiab commented on #144
Would appreciate a comment from @shahen94 or someone knowledgable of this issue if you have any insights, my inexperience with both `react-native` and the ios build system is making this pretty hard to debug independently.

[2018-07-27 08:52] roycclu commented on #176
@Riant There's an "cocoa.h not found" error when performing this. Haven't had time to check why. If you get to investigate please post your result.

[2018-07-27 08:57] roycclu commented on #165
@yz-xlame hey, where did you find the project_name-bridging-header.h?

[2018-08-03 02:43] keshamtravels opened #182 "Change tracker position of trimmer programatically"
I want to change the position of tracker of trimmer programatically . What i want to achieve is that user can upload only video of <=30 seconds . Now , the problem is when trimmer is loaded , it puts the tracker on end points only, i want to position left tracker at 0 second and right tracker at 30 second time of video , and i want the user to only be able to move tracker in a way that only trim 3

[2018-08-11 07:56] osdiab opened #183 "RNVideoTrimmer, RN"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2018-08-16 13:11] halilb commented on #88
I used `-crf` flag to get better quality out of `ffmpeg` compression. This may cause worse compression performance on some low end devices but it works perfect otherwise.

Here is my commit if anyone is interested: https://github.com/halilb/react-native-video-processing/commit/20f2fafcf135b13eb0c2c1ac3e6b0b361bdcf7ef

[2018-08-19 00:38] chrismang commented on #182
Could you achieve that? I need to use something just like that!

[2018-08-28 20:07] deepak-nagar commented on #150
i am facing same issue please any one help me

[2018-09-04 20:55] djleonskennedy commented on #173
Hello guys it's critical issue !

[2018-09-11 07:42] superandrew213 opened #185 "Publish latest version to github"
@shahen94 can you please publish latest version on here? Npm latest version is 1.13.0, on github it is still 1.7.1

[2018-09-12 11:34] 18059842153 commented on #93
@shahen94 Hello, this library can still support the current react-native?

[2018-09-12 11:41] 18059842153 commented on #93
@shahen94 In my xcode project, my project name file does not contain AppDelegate. Swift and header.h，I did it through react-native init my project

[2018-09-13 07:36] fantasyStyle opened #187 "Failed format. Expected one of 'base64' or 'JPEG'"

[2018-09-17 01:13] MilosR commented on #187
Looks like you trying to call

`ProcessingManager.getPreviewForSecond(source, forSecond, maximumSize)`

Which, by looking at source, differs between iOS & Android.

Until it is fixed/unified, for iOS you should add additional "format" parameter

`ProcessingManager.getPreviewForSecond(source, forSecond, maximumSize, format)`

Format should be "base64" or "JPEG"

[2018-09-17 23:59] shahen94 commented on #185
Will do in 1 week.

Thanks

[2018-09-18 06:03] Riant commented on #176
Refer this answer: https://stackoverflow.com/questions/6530819/cocoa-cocoa-h-not-found-error,
Add `s.exclude_files    = 'ios/**/{examples,Mac}/**/*.{h,m}'` after `s.source_files` line could resolve the "cocoa.h" error.

But my project is based on a Unity project, I got some other errors:
[code]

I guess it because we used `libAVProVideoiOS.a` in Unity, Any suggestion for me?

[2018-09-20 08:07] ronastlelobo opened #188 "How do I give source of the Video for Processing Manager.compressVideo() ?"
Is there any Package that I can use to pick a video ?

[2018-09-20 08:57] 0xcodezero commented on #150
Facing the same problem!

[2018-09-21 21:57] shahen94 commented on #188
You can use built-in `CamerRoll`

[2018-09-21 21:57] #188 closed

[2018-09-25 07:19] BaderSerhan opened #189 "Member reference base type 'void (void (^__strong)(void))' is not a structure or union"
### Current Behavior

Building the project through XCode is failing due to this error:

*Member reference base type 'void (void (^__strong)(void))' is not a structure or union*

<img width="929" alt="screen shot 2018-09-25 at 10 20 00 am" src="https://user-images.githubusercontent.com/25888465/45998826-afbb5d80-c0ac-11e8-9115-ad853ac998cc.png">

This error occurred after I updated the projects to

[2018-09-25 08:06] BaderSerhan commented on #189
Uninstalling and then re-installing and manually linking the entire library works.

Whatever it takes, DO NOT UPDATE the GPUImage project to recommended settings.

[2018-09-25 08:06] #189 closed

[2018-09-25 14:45] keshamtravels commented on #185
Please @shahen94  , I request you to do this fast , i have an urgent need of this in my project

[2018-09-27 12:03] code76kb commented on #127
inside Trimmer.java file find the line where it calculating aspectRatio.
 ` float aspectRatio = width / height;` .
here just cast the "width" and  "height" into float and you are good to go.
`float aspectRatio = (float)width / (float)height;`

its happening because height and width are int type  and we are putting the result in float variable and that makes aspectRatio  zero. and rest of it, its a

[2018-10-01 07:31] recepkocur commented on #183
+1

[2018-10-02 11:50] kashifsulaiman commented on #127
I've created a PR for this https://github.com/shahen94/react-native-video-processing/pull/190

[2018-10-07 04:12] keshamtravels commented on #185
can you please tell me how to install this github version in to my project, I am unable to do so

[2018-10-08 06:32] shahen94 commented on #185
@keshamtravels

In your package.json add this line

[code]

[2018-10-08 06:40] shahen94 commented on #185
Nevermind, I published the latest version to npm under the `1.20.0` version

[2018-10-08 06:40] #185 closed

[2018-10-08 19:42] keshamtravels commented on #185
Thank you @shahen94  , for such a great support from your side

[2018-10-09 10:03] shahen94 commented on #127
PR has been merged.

Closing this.

[2018-10-10 12:16] buraksak35 opened #191 "add image to video ( position absolute)"
Hi I am using react native and video processing latest version and I want to add small image to video with position absolute. Can I do this with this lilbrary?

[2018-10-10 12:58] shahen94 commented on #191
Hi @buraksak35 .

No - Right now there's no such functionality in this library.

[2018-10-10 12:58] #191 closed

[2018-10-16 14:03] pribeh opened #192 "1.20.0 Use of unresolved identifier AVUtilities in RNVideoTrimmer.swift"
### Current Behavior

When attempting to build our app running rnvp 1.20.0 (updating from previous builds) with RN 55.4 on xcode 10.0 we're getting the error Use of unresolved identifier 'AVUtilities'. It's pointing to lines 384 and 304 of RNVideoTrimmer.swift. I thought it might be related to issue [183](https://github.com/shahen94/react-native-video-processing/issues/183) but I don't believe so

[2018-10-19 07:38] meiqi1992 commented on #192
+1

[2018-10-19 09:51] meiqi1992 opened #193 "swift 4.2 xcode bulid fail"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

AVLayerVideoGravityResizeAspect' has been renamed to 'AVLayerVideoGravity.resizeAspect

[2018-10-19 12:31] #193 closed

[2018-10-21 07:13] miladrasooli opened #194 "ProcessingManager.compress error on android"
### Current Behavior
After calling compress function this error appears in catch statement in console

`Error: compress error: failed. /data/user/0/com.exampleapp/files/ffmpeg[1]: syntax error: '��4��4' unexpected`

### Your Environment
Android Oreo (Emulator)

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |  1.20.0
| reac

[2018-10-23 00:09] DISKONEKTeD opened #195 "Can this module do conversion of types/containers e.g. Mov to Mp4?"
Does this package have converting capabilities? As in converting an .mov file to an .mp4 file?

[2018-10-24 15:16] shahen94 commented on #194
Hi @miladrasooli .
This is a really weird issue. I'll take a look at this next week.

[2018-10-24 15:16] shahen94 commented on #195
We don't have such functionality but in our codebase, it's very easy to do.

[2018-10-24 15:16] #195 closed

[2018-10-24 15:21] miladrasooli commented on #194
Thanks ,
I tested it on real device and it worked!!!

[2018-10-26 18:46] nitinkumar24 commented on #124
Any other solution to this problem?

[2018-10-27 05:30] nitinkumar24 opened #196 "permission denied while performing processingManager.trim on a sd card file but works fine for internal storage files"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2018-10-31 05:54] sagexy commented on #192
1. add AVUtilities.swift to the project
2. clean
3. rebuild

[2018-11-04 07:07] triasrahman opened #197 "Failed to build on ios, caused by swift compiler"
### Current Behavior
I already followed the ios installation and configuration as on video. But still the output of build is:
[code]

### Expected Behavior
It should be compiled successfully.

### Your Environment
macOS 10.14
Xcode 10.1

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |  1.20.0
| react-native

[2018-11-05 09:53] shahen94 commented on #197
Please check your Swift version. We're supporting Swift 3+. But seems like there's the other issue. The compiler can't find RCTViews, ViewManager etc. Please check your Build Files

[2018-11-05 09:54] shahen94 commented on #196
hmm, that's weird. Please attach screenshot of the error message

[2018-11-05 09:56] shahen94 commented on #194
Awesome!

@miladrasooli Actually `FFMPEG` compress takes to long.

[2018-11-05 09:56] #194 closed

[2018-11-05 09:57] triasrahman commented on #197
@shahen94 Hi, I already changed all the swift version from 3, 4, and 4.2. But still doesn't work.

Do you have a sample application that can be test?

[2018-11-05 13:17] BaderSerhan commented on #182
👍 +1

[2018-11-05 14:01] kashifsulaiman opened #198 "video processing configuration issue in ios"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
![image](https://user-images.githubusercontent.com/11738465/48002293-f0d37280-e12c-11e8-888c-63aa25f5d29f.png)

| node                           |

[2018-11-09 18:41] nitinkumar24 commented on #196
![whatsapp image 2018-11-10 at 00 09 01](https://user-images.githubusercontent.com/25324584/48281607-10480380-e47d-11e8-8fd4-e75e1e39bc8b.jpeg)

[2018-11-13 09:36] shahen94 commented on #196
Hi @nitinkumar24 .

Please try to add this lines in your `AndroidManifest.xml` file

[code]

[2018-11-14 12:54] shahen94 commented on #197
private projects only. The issue is not related to your swift compiler. Check your Build files.

[2018-11-20 10:13] recepkocur commented on #152
How to crop video square? Sorry, we couldn't find your example.

[2018-11-22 06:50] shahen94 commented on #152
https://github.com/shahen94/react-native-video-processing/blob/master/lib/ProcessingManager/types.ios.js#L57

[2018-11-22 08:08] recepkocur commented on #152
Thanks for your kind response. Yes, I've seen it one week ago. I've tried "crop" function. However, it tried to crop one part of it. On the other hand, it did not work. It stretched without cropping. I have not figured out the problem yet. I'm sharing the code. Thank you.

`...
// portrait video output 720 x 1280
const aspectRatio =  640 / 480;
const outputWidth = video.width;
const outputHeight =

[2018-11-22 09:43] kashifsulaiman commented on #198
@shahen94 any fix?

[2018-11-22 13:06] #196 closed

[2018-11-22 16:03] shahen94 commented on #198
Please share some references to you code that I can reproduce it.

[2018-11-26 09:00] MSalahuddin commented on #198
[Issue.docx](https://github.com/shahen94/react-native-video-processing/files/2614694/Issue.docx)
@shahen94 this is my code file please review the code and please tell me if you get any solution.

[2018-11-26 09:13] kashifsulaiman commented on #198
[Issue.docx](https://github.com/shahen94/react-native-video-processing/files/2614754/Issue.docx)
@shahen94 this is my code file please review the code and please tell me if you get any solution.

[2018-12-06 12:44] keshamtravels opened #199 "Crashing App"
Stacktrace-->

![image](https://user-images.githubusercontent.com/37133281/49584898-cb7f9180-f982-11e8-99eb-bd25b95e351a.png)

Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference
createBitmap
    Bitmap.java:685
getFrame
    VideoPlayerView.java:298
receiveCommand
    VideoPlayerViewManager.java:136
receiveCommand
    VideoPlayerViewManager.java:42

[2018-12-11 01:49] echokk11 opened #200 "Is there anyway to use ffmpeg cmd directly ?"

[2018-12-12 10:01] Qrymy opened #201 "Can I add watemarks and text to videos?"
I wanna add watermarks, texts and images to videos.
Can I do this?

[2018-12-12 22:45] barbaragomes commented on #170
@zivids Were will able to fix this issue?

[2018-12-15 22:00] shahen94 commented on #201
Nope, you can't

[2018-12-15 22:00] #201 closed

[2018-12-16 10:28] Craigtut opened #202 "[BUG] Boomerang processing on iOS, portrait video issue."
Currently 2 issues with Boomerang processing on iOS: portrait video & exported file compatibility. I've spent hours trying to figure it out but having zero experience with swift or video processing I'm stuck at this point. I've tried implementing video orientation from here - [raywenderlich](https://www.raywenderlich.com/5135-how-to-play-record-and-merge-videos-in-ios-and-swift) - without much suc

[2018-12-16 15:58] MohammadFakhreddin commented on #170
Hi I resolve this issue by adding GpuImageFramework as embedded binaries instead of linked  framework and libraries

[2018-12-16 22:11] shahen94 commented on #202
hi @Craigtut .

Thank you for reporting this issue, and I never experienced this before.

I can't promise that I'll have time to fix this, this library maintains community, so I'll mark this.

[2018-12-17 08:33] zivids commented on #170
@barbaragomes I used FFmpegMediaMetadataRetriever to got video thumbnails bitmap,it crash frequently.Then I saved bitmap to phone and read from local,it works! But if the video file error, it also crash. So I think the FFmpegMediaMetadataRetriever something wrong

[2018-12-17 23:02] Craigtut commented on #202
Thanks @shahen94 - any gut reactions with the playback compatibility issue below?

Still puzzled on the video compatibility. It's an odd situation where the full processed video plays fine on Apple devices, only the second reversed part plays on Android (first part glitches green), and only the first half part plays in Chrome then freezes.

Its exporting an mp4 so should be compatible everywhere.

[2018-12-18 07:11] shahen94 commented on #202
@Craigtut I think so, some issue related with used Codec in AVExportSession.

[2018-12-18 08:55] Rennzh commented on #193
@shahen94 I am also faced with the same error that I use swift 4+

[2018-12-21 11:34] dangkhoa2708 opened #203 "[BUG] URL bug when compressing video (both platform)"
Hello, thank you for great library. I'm trying to compress video from my phone, and it stucks with this issue showed in Xcode, and it seems a similar problem on Android as well. Here is my url: "file:///private/var/mobile/Containers/Data/Application/4C481244-1158-49F8-8C2E-63820626912E/tmp/react-native-image-crop-picker/DBEA92DF-CF1A-424C-BD55-479DAE1F7A5C.mp4"
[https://imgur.com/a/7mTWe0W](url)

[2018-12-21 12:52] shahen94 commented on #203
Hi @dangkhoa2708 ,
Please specify versions that you're using and the issue that you faced with.

[2018-12-22 16:09] dangkhoa2708 commented on #203
<img width="830" alt="screen shot 2018-12-21 at 18 28 23" src="https://user-images.githubusercontent.com/20517762/50376340-81630500-063e-11e9-9ccc-5cfbabb31d8c.png">
I'm using the lastest version, here the error I got from Xcode, sorry just posted the wrong one

[2018-12-27 07:48] SavinderSingh opened #204 "What type of source should be provided in ProcessingManager.boomerang(source) method?"
source type provided in ProcessingManager.boomerang(source) method used to use video boomerang

[2018-12-29 15:16] miladrasooli opened #205 "ProcessingManager.crop does not work!"
Hi .  I want to crop a video square pixels, the code succeeds but the result is just like source and not cropped, Here is my code

[code]

[2018-12-29 17:34] AMINEDGE commented on #113
I also did the @prashantShrivastava91 and @FacuAcosta Instructions and it worked, another thing that I had an issue with was the Bridging-Header file, I use React Native 0.57 and XCode 10 and my project didn't have the bridging header file, also I couldn't find Swift Compiler option in build settings, I could create the file by creating a new swift file and after that xcode asks you to create brid

[2018-12-30 08:57] Craigtut commented on #202
Alright, a few half solutions if anyone else comes across this issue. I just don't have the experience to create a generalized solution and test across devices to make a PR.

If anyone stumbles here with similar issues, I ended up getting the video to rotate into portrait orientation using the following changes to RNVideoTrimmer.swift under the boomerang function:

[code]

As for video compatibili

[2019-01-02 10:33] bharatidudhjiya commented on #193
I have same issue

[2019-01-02 12:37] bharatidudhjiya opened #206 "How to add controls on video"
Is there any way to add video controls on video from this library.

OR just add play button to play video after crop completed.

And I have one more question, how to save video after trim?

Any one can please suggest me some solutions for this issues.

Thanks!

[2019-01-08 07:02] shahen94 commented on #206
1. You should do it manually, the library has all necessary APIs to do that

2. A video will be saved after trim(there's no other way :) )

[2019-01-08 07:02] #206 closed

[2019-01-17 22:20] pribeh commented on #159
Same here.

[2019-01-21 04:10] devpascoe commented on #176
Any updates on this one? Would love a podspec

[2019-01-23 10:33] SunnySny commented on #144
error opening input file '/Users/mac/Desktop/React-Native-Sny/RNCameraSample/node_modules/react-native-video-processing/ios/RNVideoProcessing-Bridging-Header.h' (No such file or directory)
<unknown>:0: error: cannot open file '/Users/mac/Library/Developer/Xcode/DerivedData/RNCameraSample-anhvcmcichlckkguollygfuyrqdz/Build/Intermediates.noindex/PrecompiledHeaders/RNVideoProcessing-Bridging-Header-2

[2019-01-23 22:09] devpascoe commented on #176
No joy on this one?

[2019-01-24 03:48] meiqi1992 commented on #124
same issue

[2019-01-24 07:51] meiqi1992 commented on #142
@faelsolucoes
RNGRP.getRealPathFromURI(response.uri).then((newUri) => {
                        console.warn('newUri=' + newUri)
                        // newUri = /storage/emulated/0/DCIM/Camera/VID_20190124_142027.mp4

                        ProcessingManager.trim(newUri, options)
                           .then((data) => {
                                console.warn('data=' + data)

[2019-01-24 10:42] hoorsa commented on #124
@nitinkumar24 @meiqi1992
Hi,
Add `file://` to the beginning of selected video path if not exist.
`videoPath = videoPath.substr(0,7) == 'file://' ? videoPath : 'file://'+videoPath;`

[2019-01-24 15:15] faelsolucoes commented on #142
Hello,

I used in my Project diferente, as:

To get Picture or Video I used component: react-native-image-picker
To transform URL of Video, only used in iOS: RNMov2mp4

Example:

ImagePicker.launchImageLibrary(options, (response) => {
          //console.log('Response V path = ', response.path);
          //console.log('Response V uri  = ', response.uri);

          if (response.error) {

[2019-01-30 06:44] recepkocur commented on #152
I waiting your reply this problem. Thanks.

[2019-01-31 09:44] shubham6996 commented on #205
@miladrasooli were you able to crop your video? If yes, please post your code. :)

[2019-01-31 10:59] shubham6996 commented on #205
@shahen94 can you please tell how to crop a video? I did it using `ProcessingManager.crop` but the video gets cropped out more than what I want it to. Also, could you please tell how `cropOffsetX` and `cropOffsetX` works? Thanks in advance. :)

[2019-02-13 10:15] thainx opened #207 "Swift 4.2 compiler errors"
### Current Behavior
When I migrate my Swift version to 4.2 and build the project, the compiler will report multiple compiling errors like:
`path-to-my-project/node_modules/react-native-video-processing/ios/RNVideoProcessing/RNVideoPlayer.swift:37:23: 'AVLayerVideoGravityResizeAspect' has been renamed to 'AVLayerVideoGravity.resizeAspect'`

`path-to-my-project/node_modules/react-native-video-proce

[2019-02-14 06:50] aviralgarg0996 opened #208 "App Crash on import"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2019-02-15 21:29] chai86 opened #209 "Visual Studio Code?"
How do you use this module properly with Visual Studio Code, because c'mon, who on earth can use Xcode anymore?

[2019-02-17 15:43] chai86 commented on #159
56 build errors, following the video and also post #144. Is there no support fot this module anymore?

[2019-02-24 10:46] rahamin1 commented on #160
@Jignesh85 Did the last two commands solve your problem? If it did, what did you specify in source= ?

[2019-02-24 11:42] rahamin1 commented on #142
I am trying to handle a local file and fail (I am getting 'setDataSource failed').

Tried various file paths, including putting the mp4 file in the same folder of the component:
`source={./sample.mp4}`

and accessing the file located in /sdcard/Download/small.mp4:
`source={'file:///sdcard/Download/sample.mp4'}`

Any idea?

[2019-02-24 18:32] rahamin1 opened #210 "Questions regarding the Trimmer functionality"
Two questions (with offspring :) regarding the Trimmer functionality:

- Is the height of the trimmer display always 50 pixels? If so, why? And if so, what is the point in specifying height in the example (in README.md).
- Am I supposed to save the trimmed video myself? Or is it supported by the package? If I need to do it myself, can anybody post an example?

Thanks much!

[2019-02-24 21:31] rahamin1 opened #211 "Trimmer not updating the video in sync with state"
### Current Behavior
A video is selected by the user (using 'react-native-image-picker'), and displayed in a Trimmer.
However, the Trimmer is not in sync with the currently selected video.
This is tyhe current behavior:

- state is set to 'video1', Trimmer is showing 'video1'
- state is changed to 'video2', Trimmer is showing 'video1'
- state is changed to 'video1', Trimmer is showing 'video2'

##

[2019-02-25 08:54] EdisonDevadoss commented on #163
Can you explain how trimmer works?

[code]
Function
`  trimVideo() {
    console.log("trimVideo is called!");
    const options = {
      startTime: 5,
      endTime: 20,
      saveToCameraRoll: true, // default is false // iOS only
      saveWithCurrentDate: true // default is false // iOS only
    };
    this.videoPlayerRef
      .trim(options)
      .then(newSource => console.log(newSource))

[2019-02-25 09:04] EdisonDevadoss commented on #182
Could you achieve that? I need the same concepts

[2019-02-28 09:02] shaheem-khanzada opened #212 "VIDEO FILTERS IN ANDROID AVAILABLE?"

[2019-03-04 14:32] chai86 commented on #211
Yes similar issue here. How can you put the following `source={videoSourcePath}` inside the Render() when it won't be assigned until after a video has been selected? Until then source=.... is invalid

[2019-03-07 14:25] naorzr opened #213 "Is this library still maintained?"

[2019-03-07 14:51] shahen94 commented on #213
Yes

[2019-03-07 14:51] #213 closed

[2019-03-07 22:53] #209 closed

[2019-03-08 13:02] VietDucPhan commented on #150
im facing same problem (npm version 1.13.0)

[2019-03-08 18:47] shahen94 commented on #150
Digging deeper into this issue this looks like platform related issue.

Probably you guys will need to build ffmpeg also for your platform.

We have [ armeabi-v7a binary](https://github.com/shahen94/react-native-video-processing/tree/master/android/src/main/assets/armeabi-v7a) now included in the project.

Probably you're using another CPU architecture - so you'll need to compile ffmpeg and put it

[2019-03-08 20:24] sschiang commented on #152
recepkocur -- did you figure out how the cropping works? I'm getting the same thing also, it just gives back the original file without cropping.

[2019-03-08 20:25] sschiang commented on #205
@shubham6996 did you figure out how the cropping works? I'm getting the same video back in the callback, without any modifications.

[2019-03-09 05:23] miladrasooli commented on #205
@sschiang you MUST provide the quality parameter in options , If no quality value is provided , it will use pass through quality and doesn't do anything!

[2019-03-09 16:59] sschiang commented on #205
@miladrasooli wow thanks! It worked--you're my hero. I saw that the quality default to "passthrough" but assumed that meant that it would just detect the dimensions itself.

[2019-03-10 07:34] miladrasooli commented on #205
Yes , I thought so too , and it did take me a long to figure it out!

[2019-03-10 07:35] #205 closed

[2019-03-10 14:38] k-komal opened #214 "How should i pass content uri to ProcessingManager.compress"
### Current Behavior

content uri is like - 'content://com.android.externalstorage.documents/document/0FFF-0F1C:VID_20190228_141840.mp4'

I am getting this error in ProcessingManager.compress

{ [Error: compress error: failed. /data/user/0/com.udaan.android.debug/files/ffmpeg[1]: syntax error: '��

[2019-03-10 17:15] k-komal commented on #214
while running the same on device instead of simulator it's showing this error - ReactNativeJS: [ERROR] [Permissions] Permission location is not granted. Not invoking callback null

[2019-03-13 11:38] Dmitrylolo opened #215 "Exception thrown while executing UI block: -[RNVideoPlayer setReplay:]: unrecognized selector sent to instance 0x7fe13920adf0"
After installation tried to launch application with example video

![](https://puu.sh/CZjXK/ab8129934d.png)

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |  1.20.0
| react-native                   |  0.57.8

[2019-03-17 22:49] chai86 commented on #142
You should try react-native-image-picker. See post #30

[2019-04-10 09:32] Thanhcao86 commented on #215
.

[2019-04-10 09:34] Dmitrylolo commented on #215
we solve issue by reinstalling several times this library

[2019-04-10 11:33] jack53519 commented on #152
I had the same problem. Specifying "quality" in crop options fixed it for me

[2019-04-15 07:54] narek11 opened #217 "black screen for compression of a whatsapp video"
Hi. Thanks for the great package Shahen.
I am trying to implement this package in my rn app.
For all the cases this package works fine except the case when I try to use it to compress a video which I got from my friend using Whatsapp.

So first I save that vid from WhatsApp to my phone(saves as mp4) and then I try to compress it using this package.

### Current Behavior
The converted video shows a

[2019-04-18 20:05] lucasfjportela opened #219 "Is there anyway to set the framerate for video compression output?"
I'm having some problems with large videos compression and I'd like to know all the valid options for ProcessingManager.compress and if it has a frameRate option to set

[2019-04-19 07:59] shahen94 commented on #219
![image](https://user-images.githubusercontent.com/13334788/56414046-7ccff580-629a-11e9-8dd3-3fdda2d146f8.png)

We have compression multipliers and bitrates - You can play with these to get the performance that you need.

[2019-04-19 13:49] #219 closed

[2019-04-25 21:07] zirkc commented on #215
Getting this same issue

[2019-04-26 09:52] kesha-antonov commented on #212
Seems like no.
We have to write it ourselves with ffmpeg and maybe something other things

[2019-04-30 16:23] RONAKDHOLARIYA opened #220 "app crash while change video thumbnail."
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2019-04-30 16:27] RONAKDHOLARIYA commented on #220
when calling getPreviewForSecond() method it seem to take time to render and the app will crash.

[2019-04-30 16:27] #220 closed

[2019-05-01 15:33] djmussik commented on #207
same problem :/

[2019-05-01 23:24] djmussik commented on #192
How I can add AVUtilities.swift ? @sagexy

[2019-05-02 06:03] harikrishna1213 opened #221 "can we compress the video in react native(android only) with using this library ? Is it possible ?"
### Current Behavior
It compressing the video in IOS but is it possible in android ?

### Expected Behavior

We should be able to compress the video in android also.

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2019-05-02 08:59] shahen94 commented on #221
Yes - It's possible

[2019-05-02 08:59] #221 closed

[2019-05-02 12:18] harikrishna1213 opened #222 "Task :app:transformDexArchiveWithExternalLibsDexMergerForDebug FAILED D8: Program type already present: com.coremedia.iso.BoxParser"
Here I am getting this issue while integrating react-native-video-processing library to my react-native (android) project.

### Current Behavior
- I have done all steps what those given in readme file but getting above error while running the project. If I remove this library from the build.gradle everything is fine. Please, can anyone tell me the solution for this error?

### Expected Behavior
Th

[2019-05-04 14:41] slavasemeniuk commented on #207
It's fixed at #216

[2019-05-09 12:36] #222 closed

[2019-05-09 12:48] harikrishna1213 opened #223 "Taking huge time to compressing the video in android (react-native)"
Hi every one,
Here I am compressing video with react-native-video-processing. It taking 50 sec to 2 min to compressing. Actually, It was taking almost 60 - 80 sec to compress 30 MB video. Can we reduce the time to 20 to 30 sec? Any idea?

### Current Behavior
It was taking huge time to compress. Almost 1 to 1.5 min for 30 MB video.

### Expected Behavior
Can we do compressing within less time? (20

[2019-05-11 10:22] olanMbakop commented on #176
I'm having this error as well. Any solution for this?

[2019-05-14 14:20] CCaiden commented on #215
How did you solve this?

[2019-05-21 13:27] Mixpeal commented on #207
I solved it by Changing the Swift Language to 3

[2019-05-23 21:37] AhmadRaza786 opened #226 "Trimmer left/ right corners are not drag-able."
I have integrated Trimmer in my application and on Android and can see the UI of trimer (left/ right corners). but not able to drag the corners to trim the video according to the requirements.

React-Native : 0.57.5
Node.js: 8.15.0
react-native-video-processing: "^1.20.0",

[2019-05-24 08:47] meetjpatel commented on #215
I've been facing this issue for a while now. I am using Xcode 10.2.1, swift version is 5. I am using latest updated version of code for RNVideoProcessing folder, its still giving me this error. Any solutions please?

[2019-05-27 02:15] Thanhcao86 commented on #223
@harikrishna1213
I have a solution for this issue as use a native package.
I just public it in git, you can check out and try it.
trim video and get asset image very fast.
I also
I'm developing it on IOS, and hope in the future this solution working great.
https://github.com/Thanhcao86/React-Native-CompressVideo

[2019-05-29 19:20] AhmadRaza786 commented on #215
facing same issue, Anyone has resolution on it ?

[2019-05-30 15:06] sirajahmad1 opened #227 "Development build working fine but **release build** is crashing"
WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: ht

[2019-05-30 15:12] sirajahmad1 opened #228 "Long size video is not getting compressed and not throwing error as well"
I tried to process 150 MB video and it took to much time to process but didn't get any result as well as any error.

Any help will be appreciated.

[2019-05-31 02:53] patrickleemsantos commented on #227
Hi,

Add this on your android/build.gradle

subprojects {
  afterEvaluate {project ->
    if (project.hasProperty("android")) {
      android {
        compileSdkVersion 28
        buildToolsVersion "28.0.3"
      }
    }
  }
}

[2019-06-04 06:35] anmol-appzoy commented on #113
There is no swift 3.2 option available for xCode is there any other solution for that.

[2019-06-04 07:36] sirajahmad1 commented on #227
Thanks, it's working.

[2019-06-07 09:39] A-Yatsyk commented on #215
I'm having the same problem.
Have anyone find a solution?

[2019-06-07 18:56] farnabaz commented on #173
In my case, it was URI issue, library pass source path directly to FFmpeg and FFmpeg does not soppurt `content://` or 'file://` or other protocols

Issue solved by converting URI to real path, I use [react-native-get-real-path](https://github.com/Wraptime/react-native-get-real-path) to convert uri

[2019-06-10 05:50] stefsugar commented on #215
I reinstall it three times and it didn't work, anyone any other tips?

[2019-06-11 11:45] ravalikarumuri opened #230 "Pixel2 XL, video is capturing more than the time specified, (i.e trying to record a max 1 min duration video but recording 1min 1 sec)"
### Current Behavior

### Expected Behavior

### Your Environment

|            software            | version
| ------------------------------ | -------
| react-native-video-processing  |
| react-native                   |
| node                           |

[2019-06-13 09:02] Yhspehy commented on #207
@slavasemeniuk
there are about 40 errors in 4.2 Swift.
Such as :
1. RNVideoProcessing/RNVideoTrimmer/AVUtilities.swift:22:59: 'AVMediaTypeVideo' has been renamed to 'AVMediaType.video'. (/AVFoundation.AVMediaTypeVideo:3:12: 'AVMediaTypeVideo' was obsoleted in Swift 3)
2. RNVideoProcessing/RNVideoTrimmer/AVUtilities.swift:44:66: 'AVFileTypeQuickTimeMovie' has been renamed to 'AVFileType.mov'. (/AVF

[2019-06-13 23:22] pisacode commented on #215
@shahen94 do you know any idea why would this happen?